# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db


constant-aa.service.ts
constant-aw.service.ts
constant-ia.service.ts
constant-ireka.service.ts
constant-devireka.service.ts
constant-kborneo.service.ts
constant-lbas.service.ts
constant-leap.service.ts
constant-localhost.service.ts

angular.json
angular-aa.json
angular-aw.json
angular-ia.json
angular-ireka.json
angular-devireka.json
angular-kborneo.json
angular-localhost.json

ngsw-config_aa.json
ngsw-config_aw.json
ngsw-config_ia.json
ngsw-config_ireka.json
ngsw-config_devireka.json
ngsw-config_kborneo.json
ngsw-config_lbas.json
ngsw-config_leap.json
