@for (fil of filtersConfig(); track fil.code + '-' + fil.root) {
  @let field = formHolder()[fil.root]?.items[fil.code];
  
  @if (field && !excludedTypes.includes(field.type)) {
    
    @let baseKey = fil.prefix + '.' + fil.code;
    @let bindKey = getBindingKey(fil, field);

    <div class="form-group mb-3">
      <label class="form-label">{{fil.label}} 
        @if (['eval', 'qr'].includes(field.type)) {
          <span class="small">(Use '%' as wildcard)</span>
        }
      </label>

      @if (['text', 'textarea', 'eval', 'qr'].includes(field.type)) {
        <input class="form-control" type="text"
          [class.disabled]="presetFilters()[bindKey]"
          [(ngModel)]="filtersData()[bindKey]" />
      }

      @if (field.type === 'checkbox') {
        <div [class.disabled]="presetFilters()[bindKey]">
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" [value]="true" id="f-{{fil.code}}-{{fil.root}}-true"
              [checked]="filtersData()[bindKey] === true" name="f-{{fil.code}}-{{fil.root}}"
              (change)="updateFilter(bindKey, true)" />
            <label class="form-check-label" for="f-{{fil.code}}-{{fil.root}}-true">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" [value]="false" id="f-{{fil.code}}-{{fil.root}}-false"
              [checked]="filtersData()[bindKey] === false" name="f-{{fil.code}}-{{fil.root}}"
              (change)="updateFilter(bindKey, false)" />
            <label class="form-check-label" for="f-{{fil.code}}-{{fil.root}}-false">No</label>
          </div>
          <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" [value]="undefined" id="f-{{fil.code}}-{{fil.root}}-undefined"
              [checked]="filtersData()[bindKey] === undefined" name="f-{{fil.code}}-{{fil.root}}"
              (change)="updateFilter(bindKey, undefined)" />
            <label class="form-check-label" for="f-{{fil.code}}-{{fil.root}}-undefined">Any</label>
          </div>
        </div>
      }

      @if (field.type === 'date') {
        <div class="input-group flex-nowrap">
          <input class="form-control" type="text"
            [class.disabled]="presetFilters()[baseKey + '~from']"
            [(ngModel)]="filtersData()[baseKey + '~from']" placeholder="From"
            (click)="dfrom.toggle()" ngbDatepicker #dfrom="ngbDatepicker">
          <div class="col-auto">
            <ngb-timepicker name="f-{{fil.code}}-timef"
              [(ngModel)]="filtersData()[baseKey + '~from']"></ngb-timepicker>
          </div>
          
          <input class="form-control" type="text"
            [class.disabled]="presetFilters()[baseKey + '~to']"
            [(ngModel)]="filtersData()[baseKey + '~to']" placeholder="To"
            (click)="dto.toggle()" ngbDatepicker #dto="ngbDatepicker">
          <div class="col-auto">
            <ngb-timepicker name="f-{{fil.code}}-timet"
              [(ngModel)]="filtersData()[baseKey + '~to']"></ngb-timepicker>
          </div>
        </div>
      }

      @if (['scaleTo5', 'scaleTo10', 'scale', 'number'].includes(field.type)) {
        <div class="input-group flex-nowrap">
          <input class="form-control" type="number"
            [class.disabled]="presetFilters()[baseKey + '~from']"
            [(ngModel)]="filtersData()[baseKey + '~from']" placeholder="From">
          <input class="form-control" type="number"
            [class.disabled]="presetFilters()[baseKey + '~to']"
            [(ngModel)]="filtersData()[baseKey + '~to']" placeholder="To">
        </div>
      }

      @if (['select', 'radio'].includes(field.type)) {
        <ng-select [items]="lookup()[fil.code]" bindLabel="name" bindValue="code"
          [class.disabled]="presetFilters()[bindKey]"
          [(ngModel)]="filtersData()[bindKey]"
          [searchFn]="lookupSearchFn">
          @if (field?.placeholder) {
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <div [innerHtml]="compileTpl(field.placeholder,{'$':item})|safe:'html'"></div>
            </ng-template>
          }
        </ng-select>
      }

      @if (field.type === 'checkboxOption') {
        <ng-select [items]="lookup()[fil.code]" bindLabel="name" bindValue="code"
          [class.disabled]="presetFilters()[bindKey]"
          [(ngModel)]="filtersData()[bindKey]">
        </ng-select>
      }

      @if (field.type === 'modelPicker') {
        <ng-select [items]="lookup()[fil.code]" [bindLabel]="field.bindLabel" [bindValue]="field.bindLabel"
          [class.disabled]="presetFilters()[bindKey]"
          [(ngModel)]="filtersData()[bindKey]">
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            @if (field.placeholder) {
              <div [innerHtml]="compileTpl(field.placeholder,{'$':item})|safe:'html'"></div>
            } @else {
              {{item[field.bindLabel]}}
            }
          </ng-template>
        </ng-select>
      }

      @if (field.type === 'simpleOption') {
        <select class="form-control custom-select" name="{{baseKey}}"
          [class.disabled]="presetFilters()[bindKey]"
          [(ngModel)]="filtersData()[bindKey]">
          <option [ngValue]="undefined" class="text-muted">Unset</option>
          @for (item of getAsList(field.options); track $index) {
            <option [value]="item">{{item}}</option>
          }
        </select>
      }

    </div>
  }
}