<div class="modal-header" style="text-align: center">
    <h3 class="modal-title">{{lang()=='ms'?'Perubahan tidak disimpan':'Unsaved changes'}}</h3>
</div>
<div class="modal-body">
    <p>
        {{lang()=='ms'?'Terdapat perubahan yang tidak disimpan dalam borang. Adakah anda pasti mahu meninggalkan halaman ini tanpa menyimpan?':
        'There are unsaved changes in the form. Are you sure you want to navigate away without saving?'}}
        </p>
</div>
<div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-round btn-default" (click)="activeModal.close(true)">{{lang()=='ms'?'Ya, tinggalkan halaman':'Yes, navigate'}}</button>
    <button type="button" class="btn btn-round btn-primary" (click)="activeModal.close(false)">{{lang()=='ms'?'Kekal di halaman':'Stay on Page'}}</button>
</div>