@if (app) {
  <div class="d-flex justify-content-center align-items-center flex-column wrapper m-a p-3">
    @if (!app.logo) {
      <img id="img-logo" class="mb-3" src="assets/icons/logo.svg" width="150" />
    }
    @if (app.logo) {
      <img id="img-logo" class="mb-3" src="{{baseApi}}/app/logo/{{app.logo}}" style="max-width:240px" />
    }
    <div class="wrapper-in text-center">
      @if (app.x?.welcomeText) {
        <div [innerHtml]="app.x?.welcomeText|safe:'html'"></div>
      }
      @if (error) {
        <div class="text-danger text-center my-3">
          {{error.message}}
          @if (app.useEmail) {
            <div>Forgot password? <button class="p-0 px-1 btn-outline-secondary btn btn-sm" (click)="reset(cred.email)">Reset Password</button></div>
          }
        </div>
      }
      @if (message) {
        <div class="text-success text-center my-3">
          {{message}}
        </div>
      }
      @for (l of loginList; track $index) {
        <button id="btn-login-{{l.key}}" class="btn text-start rounded-pill btn-primary my-1 px-2 pr-3 w-100"
          (click)="login(l.key)">
          <fa-icon [icon]="l.icon" [fixedWidth]="true"></fa-icon>
          {{l.text}}
        </button>
      }
    </div>
    @if (app.useEmail) {
      @if (loginList.length>0) {
        <p class="text-center py-2 my-1">or sign in using email</p>
      }
      @if (loginList.length==0) {
        <p class="text-center py-2 my-1">Sign in using email</p>
      }
      <div class="d-flex flex-column wrapper-in">
        <form #loginForm="ngForm">
          <div class="">
            @if (register) {
              <input id="input-signup-name" class="form-control rounded-50 my-1 w-unset" type="text" name="name"
                [(ngModel)]="cred.name" placeholder="Name" required>
              }
              <input id="input-signup-email" class="form-control rounded-50 my-1 w-unset" type="text" name="email"
                [(ngModel)]="cred.email" placeholder="Email" required>
              <input id="input-signup-password" class="form-control rounded-50 my-1 w-unset" type="password" name="password"
                [(ngModel)]="cred.password" placeholder="Password" required>

              <!-- <div class="position-relative">
                <div style="position:absolute; right:10px; top:8px; cursor: pointer;">
                  @if (passwordType=='password'){
                      <fa-icon [icon]="['far','eye']" (click)="passwordType='text'" [fixedWidth]="true"></fa-icon>
                  }@else {
                      <fa-icon [icon]="['far','eye-slash']" (click)="passwordType='password'" [fixedWidth]="true"></fa-icon>
                  }
                </div>  
      
                <input id="input-signup-password" class="form-control rounded-50 my-1 w-unset" [type]="passwordType" name="password"
                [(ngModel)]="cred.password" placeholder="Password" required>
              </div> -->
      


              </div>
              @if (!register) {
                <div class="text-center d-flex justify-content-between">
                  <!-- <button class="btn text-left rounded-pill btn-outline-secondary my-1 px-3" (click)="register=true"
                  tabindex="-1">
                Signup</button>
                <button class="btn text-left rounded-pill btn-primary my-1 px-3" [disabled]="loginForm.invalid"
                  (click)="signin(cred)">
                Login</button> -->
                <button id="btn-login-local" class="btn text-left rounded-pill btn-primary m-1 px-3" [disabled]="loginForm.invalid"
                  (click)="signin(cred)">
                Log In</button>
                <button id="btn-signup-local" class="btn text-left rounded-pill btn-outline-secondary m-1 px-3" (click)="register=true">
                Sign Up</button>
              </div>
            }
            @if (register) {
              <div class="text-center d-flex justify-content-between">
                <button id="btn-cancel-local" class="btn text-left rounded-pill btn-outline-secondary my-1 px-3"
                  (click)="register=false">
                Cancel</button>
                <button id="btn-signup-local" class="btn text-left rounded-pill btn-primary my-1 px-3" [disabled]="loginForm.invalid"
                  (click)="signup(cred)">
                Sign Up</button>
              </div>
            }
          </form>
        </div>
      }
      @if (app.x?.privPol) {
        <div class="small m-2 text-center">By signing in, you agree to <br /> our <a [href]="app.x?.privPol"
        target="_blank">Privacy Policy</a></div>
      }
    </div>
  }