page-title .title-text{
/*    float:left;*/
    /* margin:1px 0px; */
    text-align: center;
    white-space: nowrap;
    margin-left: 35px;
}
page-title .title-text *{    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
page-title {
    padding: 1rem !important;
    display: block;
    /* background: whitesmoke; */
    /* background: rgba(245,245,245, 1);     */
    background: rgba(245, 245, 245, 0.5);
    backdrop-filter: blur(5px);
    /* background: linear-gradient(rgba(245,245,245, 1),rgba(245,245,245, .8),rgba(245,245,245, 0));     */
    min-height: 60px;
    transition: all .5s ease;
    width: 100%;
    z-index: 4;
    overflow: hidden; /* To clear contents */
    zoom: 1; /* To fix IE6 bugs with floats */
    position: sticky;
    top:0;
}

page-title .nav-icon {
    position: absolute;
    margin: 2px 14px 5px 5px;
    width: 20px;
    /* float: left; */
    /*display: none; Hide dolok, until dpt setel sidenav*/
}
page-title .nav-close {
    position: absolute;
    font-size: 1.3em;
    cursor: pointer;
}

.noframe page-title .nav-icon,.nomod page-title .nav-icon{
    display:none;
}

page-title .nav-icon:after,
page-title .nav-icon:before,
page-title .nav-icon div {
    background-color: #333;
    border-radius: 2px;
    content: '';
    display: block;
    height: 2px;
    margin: 4px 0;
    transition: all .3s ease-in-out;
}

.active page-title .nav-icon:before {
    transform: translateY(6px) rotate(135deg);
}

.active page-title .nav-icon:after {
    transform: translateY(-6px) rotate(-135deg);
}

.active page-title .nav-icon div {
    transform: scale(0);
}

@media (min-width: 640px) {
    page-title .nav-icon{
        display:none;
    }
    page-title{
        padding: 1rem !important;
    }
    page-title .title-text{
        margin-left:0px;
        text-align: center;
        /* margin:3px 45px; */
    }
}
.nav-close{
    float:right;
}