.group-list {
    /* color: white; */
}
.group-list .list-group-item-text{
    font-size:13px !important;
}
.group-list a, .group-list .link-item {
    /* color: white; */
    text-decoration: none;
    padding: .6rem 1rem;
    display: block;
    position: relative;
}
.group-list a.active{
    background: rgba(0,0,0,.05)
}
.group-list a.active::before {
    content: '';
    position: absolute;
    right: 0px;
    top: 25%;
    width: 5px;
    height: 50%;
    background: #fff;
}

.group-list .group-heading {
    font-size: .875rem;
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
    padding: .5rem 1rem;
    margin-bottom: 0px;
}
/* .wrapper {
    height: 100%;
}

.sidebar {
    flex: 1;
}

.content {
    flex: 1;
    padding: 0px;

}

@media screen and (max-width: 639px) {
    .sidebar{
        max-width: none !important;
    }
}


@media screen and (min-width: 640px) {
    .wrapper {
        display: flex;
    }

    .sidebar {
        max-width: 240px;
        overflow: auto; 
        border-right:solid 1px #e6e6e6;
    }

    .content {
        height: 100%;
        overflow: auto;
    }
} */
