:root{
  --bs-border-radius: 8px;
  // --bs-btn-border-radius: 8px;
}

.blue {
  color: blue
}

::ng-deep .table img {
  max-width: 150px !important;
}

table.tbl-child>tbody tr:last-child {
  border-bottom: transparent;
}

.ds-table .ds-thead{position: sticky;top: 0;z-index:1}
.ds-table .ds-thead th{position:relative}
.ds-table .ds-thead th::before{
  content: '';
  position:absolute;
  top:1em; bottom:1em;
  left:-1px;
  width:1px;
  /* height:100%; */
  background: rgba(0, 0, 0, 0.08);
}
.ds-action .btn{
  border-radius: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.07);
}
.ds-action-items{
  // border-radius: 12px;
  border-radius: 8px !important;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05),0px 12px 50px 0px rgba(0, 0, 0, 0.10);
    margin:2px 0 !important;
    // margin-bottom:5px !important;
}


@media print {
  .table-print {
    width: 100%;
  }

  .table-print tr td,
  .table-print tr th {
    padding: 0.5em;
    font-size: 0.7em;
    border: 1px solid #dee2e6;
  }
}

.dropdown-toggle::after {
  display: none;
}

.selected-row {
  background-color: #eaf4fe;
}

::ng-deep .browser-window .modal-dialog {
  height: calc(100% - 60px) !important;
}

::ng-deep .browser-window .modal-content {
  height: 100%;
}


/* table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  } */

  table.tbl-child *{
    text-align: left;
    font-size:0.8rem;
  }
  table.tbl-child>thead th{
    color:#666
  }  
  table.tblcard>.list-tmid>tr>td.td-list{
    padding: 0 !important;
  }
  table.tblcard>.list-tmid>tr>td.td-list::before{
    padding: 0.5rem !important;
  }

@media screen and (max-width: 576px) {
  /* table.tblcard>.tmid>tr>td.td-list{
    padding: 0.25em;
  } */
  table.tbl-child{
    border-left: solid 5px #ddd;
  }
  table.tblcard {
    border: 0;
    background-color: transparent !important;
  }

  table.tblcard > thead.list-tmid {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table.tblcard > .list-tmid >  tr {
    /* border-bottom: 3px solid #ddd; */
    display: block;
    margin-bottom: .625em;
    /* border: solid 2px white; */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    /* border-radius: 0.375rem; */
    border-radius:12px;
    overflow: hidden;
    background:white;
  }

  table.tblcard > .list-tmid >  tr.ds-group-header {
    box-shadow:none;
  }

  table.tblcard > .list-tmid > tr.selected-row {
    background-color: #eaf4fe;
    outline: solid 2px #0d6efd;
  }

  table.tblcard > .list-tmid > tr > td.ds-check,
  table.tblcard > .list-tmid > tr > td.ds-index{    
    display: inline-block;
    border-bottom: none;
  }

  table.tblcard > .list-tmid > tr > .ds-check{
    text-align: left;
    padding-left:0.8em;
    /* width:70%; */
  }  
  /* table.tblcard .ds-index{
    background-color: white;
    color: black;
  } */


  table.tblcard > .list-tmid > .selected-row > td {
    background-color: #eaf4fe;
  }

  table.tblcard  > .list-tmid > tr > td {
    border-bottom: 1px solid var(--bs-border-color);
    display: block;
    font-size: .8em;
    text-align: right;
    background-color: white;
  }

  table.tblcard  > .list-tmid > tr > td.ds-item:first-child {
    padding-top: 20px;
  }

  // .tblcard.table-striped>tbody.list-tmid>tr:nth-of-type(odd)>* {
  //   --bs-table-accent-bg: unset;
  // }

  table.tblcard > .list-tmid > tr > td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 1em;
  }

  table.tblcard>.list-tmid>tr>td:last-child {
    border-bottom: 0;
  }
  table.tblcard .ds-action{
    padding:6px !important;
  }
}

.ds-action-dropdown:has(.ds-action-items:empty){
  opacity:0.4;
  pointer-events: none;
}


/* .dropdown-btn:not(.dropdown-btn:has(.dropdown-item)) {
    display: none;
  } */