<div class="p-1">
    <!-- <div class="modal-header">
        <h4 class="modal-title">Notification List</h4>
    </div> -->
    <div class="p-1">
        <input type="search" class="search-icon flex-grow-1 bg-white rounded-2 border border-2 py-2" style="width:100%;" placeholder="Start typing and press Enter to search..."
            (keyup.enter)="loadNotiList(1)" autocapitalize="none" [(ngModel)]="listSearchText">
    </div>
    <div class="mailbox-main g-2" [class.notif-shown]="notif?.id">
        <div class="mailbox-list-wrapper">
            <div>
                @for (kv of list|groupBy:'dateFmt'; track $index) {
                    <button class="p-2 w-100 d-block bg-light border-0 d-flex justify-content-between fs-5 text-muted" (click)="hideMailOn[kv.key]=!hideMailOn[kv.key]" >
                        {{kv.key}}
                        @if (hideMailOn[kv.key]){                            
                            <fa-icon [icon]="['fas','angle-down']"></fa-icon>
                        }@else{
                            <fa-icon [icon]="['fas','angle-up']"></fa-icon>
                        }
                    </button>
                    @if(!hideMailOn[kv.key]){
                       <div class="list-group">
                            @for (n of kv.value; track n.id) {
                                <button class="list-group-item nobreak p-2 cursor-pointer maillist"
                                    [class.bg-primary]="n?.id == notif?.id"
                                    [class.list-group-item-info]="!n.receipt?.[user.email]" [class.text-muted]="n.receipt?.[user.email]"
                                    (click)="openNotif(notifTpl,n)">
                                    <div class="rounded-circle bg-secondary float-start d-flex align-items-center 
                                    justify-content-center text-white" style="height:40px; width:40px; font-weight:strong">A</div>
                                    <div class="text-truncate text-start" [class.text-white]="n?.id == notif?.id" style="margin-left:50px;">
                                        <span class="">{{cleanText(n.content)}}</span>
                                        <div class="small">{{n.timestamp|date}}</div>
                                    </div>
                                </button>
                            }
                        </div> 
                    }                    
                }@empty {
                    <div class="p-5 text-center text-muted">
                        <fa-icon [icon]="['fas','mail-bulk']"  size="4x"></fa-icon>
                        @if(listSearchText){
                            <div class="mt-3">No notification found with '{{listSearchText}}' </div>
                        }@else {
                            <div class="mt-3">You don't have any notification </div>
                        }
                    </div>
                }
            </div>
        </div>
        @if (notif){
            <div class="mailbox-content-wrapper">
                @if (notif){
                    <div class="mb-3">
                        <button class="btn btn-rounded fs-5" (click)="notif=null">
                            <fa-icon [icon]="['fas','arrow-left']"></fa-icon>
                            Back
                        </button>
                    </div>
                    @if (notif.subject){
                        <div class="fs-5 p-3">
                            {{notif.subject}}
                        </div>
                    }
                    @else {
                        <div class="fs-5 p-3 text-body-tertiary">
                            Subject not recorded
                        </div>
                    }                      
                    <div class="card card-clean mb-2 overflow-hidden">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">
                                <div class="label-span">From</div>
                                <div class="text-truncate">{{notif.sender}}</div>
                            </div>
                            <!-- <div class="list-group-item"  style="border-left:solid 2px lightgray">
                                <div class="label-span">Init By</div>
                                <div class="text-truncatei">@if(notif.initBy){ {{notif.initBy}} }@else{ <span class="text-muted">N/A</span> }</div>
                            </div> -->
                            <div class="list-group-item">
                                <div class="label-span">To</div>
                                <div class="text-truncatei">@if(notif.email){ {{notif.email}} }@else{ <span class="text-muted">N/A</span> }</div>
                            </div>
                            <div class="list-group-item">
                                <div class="label-span">Timestamp</div>
                                <div class="text-truncate">{{notif.timestamp|date:'medium'}}</div>
                            </div>
                            <div class="list-group-item" style="border-left:solid 3px lightgray" >
                                <div style="overflow:hidden; position:relative;">
                                <span [innerHtml]="notif.content|safe:'html'"></span>
                                    <div class="p-1" style="position:absolute; background:rgba(255,255,255,.8); border-radius:3px;"  >
                                    <!-- <button type="button" class="btn btn-xs btn-secondary small p-1" style="font-size:0.8rem" (click)="isReadMore[notif.id]=!isReadMore[notif.id]">
                                    {{isReadMore[notif.id]?'Less...':'More...'}}
                                    </button> -->
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }@else{
                    <div class="p-5 text-center text-muted">
                        <fa-icon [icon]="['fas','mail-bulk']"  size="4x"></fa-icon>
                        <div class="mt-3">Select an item to read </div>
                    </div>

                }

            </div>
        }
    </div>
    <!-- <div class="p-2 pb-0 bg-light">
        @for (notif of list; track $index) {
        <div class="card card-clean mb-2 overflow-hidden">
            <div class="list-group list-group-flush">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <div class="label-span">From</div>
                            <div class="text-truncate">{{notif.sender}}</div>
                        </div>
                        <div class="col-6"  style="border-left:solid 2px lightgray">
                            <div class="label-span">Init By</div>
                            <div class="text-truncate">@if(notif.initBy){ {{notif.initBy}} }@else{ <span class="text-muted">N/A</span> }</div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <div class="label-span">To</div>
                            <div class="text-truncate">@if(notif.email){ {{notif.email}} }@else{ <span class="text-muted">N/A</span> }</div>
                        </div>
                        <div class="col-6" style="border-left:solid 2px lightgray">
                            <div class="label-span">Timestamp</div>
                            <div class="text-truncate">{{notif.timestamp|date:'medium'}}</div>
                        </div>
                    </div>
                </div>
                <div class="list-group-item " >
                    <div style="overflow:hidden; position:relative;" [ngStyle]="{'max-height': (isReadMore[notif.id]?'unset':'126px')}">
                      <span [innerHtml]="notif.content"></span>
                        <div class="p-1" style="position:absolute; background:rgba(255,255,255,.8); border-radius:3px;" [ngStyle]="{'top':isReadMore[notif.id]?'calc(100% - 35px)':'95px'}" >
                        <button type="button" class="btn btn-xs btn-secondary small p-1" style="font-size:0.8rem" (click)="isReadMore[notif.id]=!isReadMore[notif.id]">
                          {{isReadMore[notif.id]?'Less...':'More...'}}
                        </button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        }@empty {
        <div class="p-3 fs-4 text-center">No email history</div>
        }
    </div> -->
    @if (listTotal>listPageSize) {
    <div class="text-center d-flex justify-content-center pagination-rounded p-1 print-hide">
        <ngb-pagination [collectionSize]="listTotal" [pageSize]="listPageSize" [(page)]="listPageNumber" [maxSize]="10"
            [rotate]="true" (pageChange)="loadNotiList(listPageNumber)" boundaryLinks="true" directionLinks="true">
            <ng-template ngbPaginationFirst>
                <fa-icon [icon]="['fas','angle-double-left']"></fa-icon>              
              </ng-template>
              <ng-template ngbPaginationPrevious>
                <fa-icon [icon]="['fas','chevron-left']"></fa-icon>
              </ng-template>
              <ng-template ngbPaginationNext>
                <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
              </ng-template>
              <ng-template ngbPaginationLast>              
                <fa-icon [icon]="['fas','angle-double-right']"></fa-icon>
              </ng-template>
        </ngb-pagination>
    </div>
    }
</div>