<div id="app" [class.d-none]="loading()">
  <div class="cont">
    <div class="position-relative cont">
      <video #video id="video" class="no-ev" width="100%" [class.d-none]="!camSupport()" autoplay playsinline></video>
      @if (camSupport()) {
        <div [ngClass]="altClass" class="position-absolute">
          @if (error) {
            <div style="color: #f00">
              Invalid QR Code ({{errorMsg()}})
            </div>
          }
          @if (!pause()) {
            <div class="d-flex justify-content-center align-items-center scanner-box">
              <div class="custom-scanner"></div>
              <div>
                Align QR Code here
              </div>
            </div>
          }
        </div>
      }
      <ng-content></ng-content>
    </div>
    @if (camSupport()) {
      <div class="form-check form-switch form-group mt-2">
        <input type="checkbox" class="form-check-input" [disabled]="!torchSupport()" [(ngModel)]="isTorch" name="isTorchOn"
          id="isTorchOn" (change)="switchTorch(isTorch())">
        <label class="form-check-label" for="isTorchOn">Turn On Flash @if (!torchSupport()) {
          <span>(No flash found)</span>
        }</label>
      </div>
    }
    @if (scError()) {
      <div class="text-danger p-3 m-1">{{scError()}}</div>
    }
    @if (!camSupport()) {
      <label class="bg-white p-3" for="qr-input-screen" style="display: block;margin-bottom: unset">
        <input type="file" [hidden]="true" id="qr-input-screen" (change)="qrValueChanged($event)" [(ngModel)]="file"
          name="screen" accept="image/*" capture />
        <fa-icon [icon]="['fas','qrcode']" [fixedWidth]="true"></fa-icon>
        Upload QR Code
      </label>
    }
  </div>
  <canvas #canvas id="canvas" style="display:none"></canvas>
</div>
@if (loading()) {
  <div class="p-4 text-muted text-center">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
}