<div class="card no-hr card-clean mb-3">
  <div class="card-header p-3">
    <h6 class="card-title m-0">{{chart().title}}</h6>
    @if (chart().description) {
      <p class="card-subtitle mt-1" [innerHtml]="chart().description">{{chart().description}}</p>
    }
    <div class="print-hide" style="position:absolute;top:5px;right:5px;">
      @if (chart().formId && chart()?.filters && chart()?.filters.length>0) {
        <button type="button" class="btn btn-outline-secondary border-0 btn-round ms-1" title="Filter Chart"
          (click)="editFilter(editFilterTpl,filtersData)" [class.blue]="!checkFilter()">
          <fa-icon [icon]="['fas','filter']" [fixedWidth]="true"></fa-icon>
        </button>
      }
      <button type="button" class="btn btn-outline-secondary border-0 btn-round ms-1" title="Export to Excel"
        (click)="exportExcel()">
        <fa-icon [icon]="['fas','file-excel']" [fixedWidth]="true"></fa-icon>
      </button>
      @if (!maxState()) {
        <button type="button" class="btn btn-outline-secondary border-0 btn-round ms-1"
          (click)="flipped.set(!flipped())">
          @if (!flipped()) {
            <fa-icon [icon]="['fas','list']" [fixedWidth]="true"></fa-icon>
          }@else{
            <fa-icon [icon]="['fas','tachometer-alt']" [fixedWidth]="true">
            </fa-icon>
          }
        </button>
        <button type="button" class="btn btn-outline-secondary border-0 btn-round ms-1" (click)="enterMaxState()">
          <fa-icon [icon]="['fas','expand']" [fixedWidth]="true"></fa-icon>
        </button>
      }@else{
        <button type="button" class="btn btn-danger btn-round border-0 ms-1" (click)="exitMaxState()">
          <fa-icon [icon]="['fas','compress']" [fixedWidth]="true"></fa-icon>
        </button>
      }
    </div>
  </div>
  @if (chartDataset()) {
    <div  [ngClass]="maxState()?'':'flip-card'" [class.flipped]="flipped()">
      <div class="fc-inner" [ngStyle]="{'height':maxState()?'auto':(chart().height+'px'||'450px')}">
        <div class="fc-front" [class.print-hide]="flipped() && !maxState()">
          @if (chartOption()) {
            <!-- {{chartOption|json}} -->
            <div class="demo-chart" [ngStyle]="{'height.px':(chart().height||450)}" echarts
            [options]="chartOption()"></div>
          }
        </div>
        <div class="fc-back justify-content-center overflow-auto" [class.print-hide]="!flipped() && !maxState()">
          @if (!chartDataset()?.series) {
            <table id="chart_{{chart().id}}" class="table table-striped table-flush position-relative" >
              <thead>
                <tr>
                  <th class="border-top-0 position-sticky sticky-top">Name</th>
                  <th class="border-top-0 position-sticky sticky-top">Value</th>
                  @if (chart().showAgg && chart().x?.percentage) {
                    <th class="border-top-0 position-sticky sticky-top">%</th>
                  }
                </tr>
              </thead>
              <tbody>
                @for (d of chartDataset()?.data; track $index) {
                  <tr>
                    <td>{{d.name}}</td>
                    <td>{{d.value}}</td>
                    @if (chart().showAgg && chart().x?.percentage) {
                      <td>{{((d.value/chartDataset()?._a)*100).toFixed(2)}}</td>
                    }
                  </tr>
                }
                @if (chart().showAgg) {
                  <tr>
                    <td class="bg-dark text-white">Total</td>
                    <td class="bg-dark text-white">{{chartDataset()?._a}}</td>
                    @if (chart().showAgg && chart().x?.percentage) {
                      <td>100.00</td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          }@else{
            <table id="chart_{{chart().id}}" class="table table-striped table-flush position-relative">
              <thead>
                <tr>
                  @for (header of chartDataset()?.data[0]; track $index) {
                    <th class="border-top-0 position-sticky sticky-top"
                    >{{header}}</th>
                  }
                  @if (chartDataset()?._arow) {
                    <th class="bg-dark text-white position-sticky sticky-top">{{chartDataset()?._arow[0]}}</th>
                  }
                  @if (chart().showAgg && chart().x?.percentage) {
                    <th class="position-sticky sticky-top">%</th>
                  }
                </tr>
              </thead>
              <tbody>
                @for (d of chartDataset()?.data|slice:1; track $index; let $idx = $index) {
                  <tr>
                    @for (dv of d; track $index) {
                      <td>{{dv}}</td>
                    }
                    @if (chart().showAgg) {
                      <td class="bg-dark text-white">{{chartDataset()?._arow[$idx+1]}}</td>
                    }
                    @if (chart().showAgg && chart().x?.percentage) {
                      <td>{{((chartDataset()?._arow[$idx+1]/chartDataset()?._a)*100).toFixed(2)}}</td>
                    }
                  </tr>
                }
                @if (chart().showAgg) {
                  <tr>
                    @for (dv of chartDataset()?._acol; track $index; let $idx = $index) {
                      <td class="bg-dark text-white">{{chartDataset()?._acol[$idx]}}</td>
                    }
                    <td><strong>{{chartDataset()?._a}}</strong></td>
                    @if (chart().showAgg && chart().x?.percentage) {
                      <td>100.00</td>
                    }
                  </tr>
                }
              </tbody>
            </table>
          }
        </div>
      </div>
    </div>
  }@else{
    <div class="d-flex justify-content-center" [ngStyle]="{'height':maxState()?'auto':(chart().height+'px'||'450px')}">
      <span class="align-self-center text-muted">{{lang()=='ms'?'Tiada data':'No data'}}</span>
    </div>
  }
</div>

<ng-template #editFilterTpl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{lang()=='ms'?'Tapis':'Filter'}} {{dataset?.title}}</h4>
  </div>
  <div class="modal-body">
    @defer(prefetch on idle){
      <app-user-entry-filter [formHolder]="form" [presetFilters]="chart().presetFilters"
        [filtersConfig]="chart()?.filters" [(filtersData)]="filtersData" [scopeId]="scopeId()"
        [lookup]="lookup"></app-user-entry-filter>
    }@loading {
      <div class="text-center m-5">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    }
    <!-- {{filtersData|json}} -->
    <!-- <div class="form-group mb-3">
    <label class="form-label">Condition type</label>
    <div>
      <div class="btn-group">
        <input class="btn-check" type="radio" value="AND" id="match-all"
          name="match-all" [(ngModel)]="filtersCond" required>
          <label for="match-all" class="btn btn-outline-secondary">
          Match All</label>
          <input class="btn-check" type="radio" value="OR" id="match-any"
            name="match-any" [(ngModel)]="filtersCond" required>
            <label for="match-any" class="btn btn-outline-secondary">
            Match Any</label>
          </div>
        </div>
      </div> -->
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-round btn-secondary"
    (click)="d()">{{app().x?.lang=='ms'?'Tutup':'Close'}}</button>
    <div>
      <button type="button" class="btn btn-round btn-secondary me-1" (click)="c({})">
        <fa-icon [icon]="['fas','trash']" [fixedWidth]="true"></fa-icon>
        Reset
      </button>
      <button type="button" class="btn btn-round btn-primary" (click)="c(filtersData)">
        <fa-icon [icon]="['fas','check']" [fixedWidth]="true"></fa-icon>
        {{lang()=='ms'?'Tapis':'Filter'}}
      </button>
    </div>
  </div>
</ng-template>