<div class="viewport ">
  @if (!hideTitle()) {
    <page-title>
      <h4 class="m-0">{{lookup()?.name}}</h4>
      @if (lookup()?.description) {
        <div class="mt-1">{{lookup()?.description}}</div>
      }
    </page-title>
  }
  @if (lookup) {
    @if (!userUnauthorized()){
      <div class="centered fix-gutter" [class.limit-width]="!lookup()?.x?.wide">
        <div class="single-pane">
          <div class="d-flex flex-row">
            <div style="flex-grow:1">
              <input type="search"  autocapitalize="none" class="form-control form-control-sm border border-2"
                placeholder="Filter list" (keyup.enter)="getLookupEntryList(entryPageNumber())"
                [(ngModel)]="searchText">
            </div>
            <div style="flex-shrink: 0;">
              @if (lookup().sourceType=='db') {
                <button type="button" class="btn btn-sm border border-2 btn-outline-primary ms-1"
                  [class.disabled]="offline()"
                  (click)="editLookupEntry(editLookupEntryTpl,{enabled:1},true)">
                  <fa-icon [icon]="['fas','plus']" [fixedWidth]="true"></fa-icon>
                  Add Data
                </button>
              }
              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-sm border border-2 ms-1"
                  id="dropdownLookupEditor" ngbDropdownToggle>
                  <fa-icon [icon]="['fas','ellipsis-h']" [fixedWidth]="true"></fa-icon>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownLookupEditor">
                  <a ngbDropdownItem title="Export to Excel" target="blank"
                    href="{{base}}/report/export-lookup/{{lookup()?.id}}/xlsx">
                    <fa-icon [icon]="['fas','file-excel']" [fixedWidth]="true"></fa-icon> Export
                    to Excel
                  </a>
                  <button type="button" ngbDropdownItem title="Resync Lookup" [class.disabled]="offline()"
                    (click)="resyncLookup(syncLookupTpl,lookup()?.id)">
                    <fa-icon [icon]="['fas','sync']" [fixedWidth]="true"></fa-icon> Resync
                    Lookup
                  </button>
                </div>
              </div>
            </div>
          </div>
          @if (loading()) {
            <div class="p-4 text-center">
              <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          }
          @if (!loading() && hasLoadList()) {
              @if (lookupEntryList()?.length) {

                <div class="px-2 py-2">
                  <div class="m-auto py-1 px-3 rounded-2 bg-dark text-white small shadow-sm" style="max-width:450px;">
                    <div class="row">
                      <div class="col d-flex align-items-center">
                        <strong>Summary</strong>
                      </div>
                      <div class="col">Total:
                        <div class="d-sm-inline">{{lookupEntryTotal()}}</div>
                      </div>
                      <div class="col">Shown:
                        <div class="d-sm-inline">{{lookupEntryElements()}}</div>
                      </div>
                      <div class="col">Pages:
                        <div class="d-sm-inline">{{lookupEntryPages()}}</div>
                      </div>
                    </div>
                  </div>
                </div>


            <div class="table-responsive">
                <table class="table table-bordered table-striped bg-white">
                  <thead>
                    <tr>
                      @if (!lookup()?.x?.codeHidden){
                        <th class="w-10">{{lookup()?.x?.codeLbl||'CODE'}}</th>
                      }
                      <th class="w-90">{{lookup()?.x?.nameLbl||'NAME'}}</th>
                      @if(!lookup()?.x?.extraDisabled){
                        <th class="w-10">{{lookup()?.x?.extraLbl||'EXTRA'}}</th>
                      }
                      @if (lookup().dataEnabled) {
                        <th class="w-10">DATA</th>
                      }
                      <th style="width: 5%">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (entry of lookupEntryList(); track $index) {
                      <tr
                        [class.lookup-disabled]="lookup().sourceType=='db' && !entry.enabled"
                        [ngClass]="entry.altClass">
                        @if (!lookup().x?.codeHidden){
                          <td>{{entry.code}}</td>
                        }
                        <td>{{entry.name}}</td>
                        @if(!lookup()?.x?.extraDisabled){
                          <td>{{entry.extra}}</td>
                        }
                        @if (lookup().dataEnabled) {
                          <td class="p-0">
                            @if (entry.data) {
                              <table width="100%" class="table extra-data-tbl m-0">
                                <tbody>
                                  @for (o of entry.data|keyvalue; track $index) {
                                    <tr>
                                      <td class="col-1" style="font-weight:500">{{o.key}}</td>
                                      <td>
                                        @if (['longtext','text','options'].indexOf(mapDataFields()[o.key])>-1) {
                                          <span [innerHtml]="o.value"></span>
                                        }@else if (mapDataFields()[o.key]=='lookup') {
                                          <span>{{o.value?.name}}</span>
                                        }@else if (mapDataFields()[o.key]=='multiplelookup') {
                                          @if (o.value && o.value.length>0) {
                                              <div class="list-group list-group-sm small">                                            
                                                @for(v of o.value; track $index) {
                                                  <div class="list-group-item p-1 px-2">{{v.name}}</div>
                                                }
                                              </div>
                                            }
                                        }@else if (mapDataFields()[o.key]=='number') {
                                          <span>{{o.value}}</span>
                                        }@else if (mapDataFields()[o.key]=='date') {
                                          <span>{{o.value|date:'medium'}}</span>
                                        }@else if (mapDataFields()[o.key]=='file') {
                                          <span><a [href]="getUrl('/entry/file/',o.value)">{{o.value}}</a></span>
                                        }@else {
                                          <span>{{o.value}}</span>
                                        }
                                      </td>
                                    </tr>
                                  }
                                </tbody>
                              </table>
                            }
                          </td>
                        }
                        <td class="text-nowrap">
                          @if (lookup().sourceType=='db') {
                            <div>
                              <button type="button" class="btn btn-secondary me-1 btn-sm btn-round"
                                [class.disabled]="offline()"
                                (click)="removeLookupEntry(removeLookupEntryTpl,entry)">
                                <fa-icon [icon]="['fas','trash']" [fixedWidth]="true"></fa-icon>
                              </button>
                              <button type="button" class="btn btn-secondary btn-sm btn-round" [class.disabled]="offline()"
                                (click)="editLookupEntry(editLookupEntryTpl,entry, false)">
                                <fa-icon [icon]="['fas','pencil-alt']" [fixedWidth]="true"></fa-icon>
                              </button>
                              <div class="mt-1">
                                @if (!$first) {
                                  <button type="button" class="btn btn-secondary me-1 btn-round btn-sm"
                                    (click)="reorderItem($index, -1)">
                                    <fa-icon [icon]="['fas','arrow-up']" [fixedWidth]="true">
                                    </fa-icon>
                                  </button>
                                }
                                @if (!$last) {
                                  <button type="button" class="btn btn-secondary btn-round btn-sm"
                                    (click)="reorderItem($index, 1)">
                                    <fa-icon [icon]="['fas','arrow-down']" [fixedWidth]="true">
                                    </fa-icon>
                                  </button>
                                }
                              </div>
                            </div>
                          }
                          @if (['rest','proxy'].indexOf(lookup().sourceType)>-1) {
                            <fa-icon [icon]="['fas','lock']"
                              [fixedWidth]="true">
                            </fa-icon>
                          }
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
            </div>
              }
          }
          @if ((lookupEntryList()?.length) > 0 && hasLoadList()) {
            <div class="text-center d-flex justify-content-center pagination-rounded"
              >
              @if (lookupEntryTotal()>pageSize) {
                <ngb-pagination [collectionSize]="lookupEntryTotal()"
                  [pageSize]="pageSize" [(page)]="entryPageNumber" [maxSize]="10"
                  (pageChange)="getLookupEntryList(entryPageNumber())" boundaryLinks="false" directionLinks="false">
                  <ng-template ngbPaginationFirst>
                    <fa-icon [icon]="['fas','angle-double-left']"></fa-icon>              
                  </ng-template>
                  <ng-template ngbPaginationPrevious>
                    <fa-icon [icon]="['fas','chevron-left']"></fa-icon>
                  </ng-template>
                  <ng-template ngbPaginationNext>
                    <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
                  </ng-template>
                  <ng-template ngbPaginationLast>              
                    <fa-icon [icon]="['fas','angle-double-right']"></fa-icon>
                  </ng-template>
                </ngb-pagination>
              }
            </div>
          }
          @if (!loading() && !hasLoadList()) {
            <div class="details my-5">
              <h3>Data is not loaded</h3>
              <p>Click the following button to load lookup data</p>
              @if (!hasLoadList()) {
                <button type="button" class="btn btn-primary rounded-pill" (click)="getLookupEntryList(1)">Load Data</button>
              }
            </div>
          }
          @if (lookupEntryList() == 0 && !loading() && hasLoadList()) {
            <div class="details my-5">
              <h3>No data for {{lookup().name}}</h3>
              <p> There is no data assigned to this lookup table.
                <br /> You can assign a new data by clicking on the Add button.
              </p>
            </div>
          }
        </div>
      </div>
    }@else {
      <div class="detail text-muted">
        <h3>{{app()?.x?.lang=='ms'?'Anda tidak mempunyai akses kepada lookup ini':
        'You are not authorized to access this lookup'}}</h3>
      </div>
    }
  }
  <!-- @else{
    <div style="color:#aaa;">
      <h3>Please select Lookup Table from the list on the left to view it's data.</h3>
    </div>
  } -->
</div>
<ng-template #removeLookupEntryTpl let-c="close" let-d="dismiss">
  <div>
    <div class="modal-header">
      <h4 class="modal-title">Remove Lookup Entry</h4>
    </div>
    <div class="modal-body">
      <div class="form form-horizontal">
        @if (!lookup()?.x?.codeHidden){
          <div class="form-group mb-3">
            <label class="form-label col-md-3">{{lookup()?.x?.codeLbl||'Code'}}</label>
            <div class="col-md-6">
              <p class="form-control-static">{{removeLookupEntryData.code}}</p>
            </div>
          </div>
        }
        <div class="form-group mb-3">
          <label class="form-label col-md-3">{{lookup()?.x?.nameLbl||'Name'}}</label>
          <div class="col-md-6">
            <p class="form-control-static">{{removeLookupEntryData.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-round btn-secondary" (click)="d()">Close</button>
      <button type="button" class="btn btn-round btn-primary" (click)="c(removeLookupEntryData)">
        <i class="icon-minus-sign-alt"></i> Remove Lookup
      </button>
    </div>
  </div>
</ng-template>

<ng-template #editLookupEntryTpl let-c="close" let-d="dismiss">
  <div #editLookupEntryForm="ngForm" ngForm>
    <div class="modal-header">
      <h4 class="modal-title">Add Lookup Entry</h4>
    </div>
    <div class="modal-body">
      <div class="form">
        @if (!lookup()?.x?.codeHidden){
          <div class="form-group mb-3">
            <label class="form-label">{{lookup()?.x?.codeLbl||'Code'}} *</label>
            <input type="text" class="form-control" name="code" #code="ngModel"
              [(ngModel)]="_lookupEntry.code" required />
            @if (code?.invalid) {
              <small class="form-text has-warning">
                @if (code.errors?.required) {
                  <span class="help-block">Code is required</span>
                }
              </small>
            }
          </div>
        }
        <div class="form-group mb-3">
          <label class="form-label">{{lookup()?.x?.nameLbl||'Name'}} *</label>
          <input type="text" class="form-control" name="name" #name="ngModel"
            [(ngModel)]="_lookupEntry.name" required />
          @if (name?.invalid) {
            <small class="form-text has-warning">
              @if (name.errors?.required) {
                <span class="help-block">Description is required</span>
              }
            </small>
          }
        </div>
        @if(!lookup()?.x?.extraDisabled){
          <div class="form-group mb-3">
            <label class="form-label">{{lookup()?.x?.extraLbl||'Extra'}}</label>
            <input type="text" class="form-control" name="extra" #extra="ngModel"
              [(ngModel)]="_lookupEntry.extra" />
            @if (extra?.invalid) {
              <small class="form-text has-warning">
                @if (extra.errors?.required) {
                  <span class="help-block">Description is required</span>
                }
              </small>
            }
          </div>
        }




        <!-- @if (lookup().dataEnabled) {
          <div class="form-group mb-3">
            <label class="form-label small text-muted fw-bold">Data (Additional attributes)</label>
            <table width="100%">
              @for (e of editLookupEntryDataFields(); track $index) {
                <tr>
                  <td style="vertical-align:top">
                    {{e.key}}
                  </td>
                  <td style="vertical-align:top">
                    @if (e.type=='text') {
                      <input class="form-control form-control-sm" style="width:100%" type="text"
                        name="value_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                    }@else if (e.type=='longtext') {
                      <textarea class="form-control form-control-sm" style="width:100%"
                        name="value_{{$index}}"
                      [(ngModel)]="_lookupEntry.data[e.key]"></textarea>
                    }@else if (e.type=='number') {
                      <input class="form-control form-control-sm" style="width:100%" type="number"
                        name="value_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                    }@else if (e.type=='date') {
                      <input class="form-control form-control-sm" style="width:100%" type="text"
                        name="value_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]" (click)="d2.toggle()" ngbDatepicker
                        #d2="ngbDatepicker">
                    }@else if (e.type=='options') {
                      <select class="form-control form-control-sm" style="width:100%" name="value_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                        @for (a of e.opts; track $index) {
                          <option [ngValue]="a">{{a}}</option>
                        }
                      </select>
                    }@else if (e.type=='lookup') {
                      <select class="form-control form-control-sm" style="width:100%" name="value_{{$index}}"
                        [compareWith]="compareByCodeFn"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                        @for (a of lookupListMap()[e.opts]; track $index) {
                          <option [ngValue]="a">{{a.name}}</option>
                        }
                      </select>
                    }@else if (e.type=='multiplelookup') {
                      <select class="form-control form-control-sm" style="width:100%" name="value_{{$index}}"
                        [compareWith]="compareByCodeFn"
                        [multiple]="true"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                        @for (a of lookupListMap()[e.opts]; track $index) {
                          <option [ngValue]="a">{{a.name}}</option>
                        }
                      </select>
                    }@else if (e.type=='file') {
                      <label style="width:100%">
                        <input type="file" [hidden]="true" (change)="uploadFile($event, _lookupEntry.data, e.key)"
                          name="file" />
                        <div class="form-control form-control-sm" style="background: white">
                          <fa-icon [icon]="['fas','upload']"></fa-icon>
                          {{_lookupEntry.data[e.key]||'Browse'}}
                        </div>
                      </label>
                    }@else {
                      <input class="form-control form-control-sm" style="width:100%" type="text"
                        name="value_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                    }
                  </td>
                  <td style="width:30px;vertical-align:top">
                    <button type="button" class="btn btn-sm btn-light"
                      (click)="deleteDataRow(_lookupEntry.data, e.key)">
                      <fa-icon [icon]="['fas','trash']" [fixedWidth]="true"></fa-icon>
                    </button>
                  </td>
                </tr>
              }
              @for (e of editLookupEntryDataFieldsOrphan()|keyvalue; track $index) {
                <tr>
                  <td>
                    {{e.key}} (orphan)
                  </td>
                  <td>
                    @if (!isNumber(_lookupEntry.data[e.key])) {
                    <input class="form-control form-control-sm" style="width:100%" type="text"
                      name="valueorph_{{$index}}"
                      [(ngModel)]="_lookupEntry.data[e.key]">
                    }
                    @if (isNumber(_lookupEntry.data[e.key])) {
                      <input class="form-control form-control-sm" style="width:100%" type="number"
                        name="valueorph_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                    }
                  </td>
                  <td>
                    <button type="button" class="btn btn-sm btn-light"
                      (click)="deleteDataRow(_lookupEntry.data, e.key)">
                      <fa-icon [icon]="['fas','trash']" [fixedWidth]="true"></fa-icon>
                    </button>
                  </td>
                </tr>
              }
            </table>
          </div>
        } -->


        @if (lookup().dataEnabled) {
          <div class="mb-3">
            <div class="text-muted small fw-bold text-center add-data-split mx-n3">
              <span class="bg-white" style="display: inline-block;z-index: 1;position: relative;padding: 5px;">
                Data (additional attributes)</span>
            </div>
              @for (e of lookupEntryFields; track $index) {
                <div class="form-group mb-3">
                  <label class="form-label">{{e.key}}</label>
                  <div class="input-group">
                    @if (e.type=='text') {
                      <input class="form-control form-control-sm" type="text"
                        name="value_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                    }@else if (e.type=='longtext') {
                      <textarea class="form-control form-control-sm"
                        name="value_{{$index}}"
                      [(ngModel)]="_lookupEntry.data[e.key]"></textarea>
                    }@else if (e.type=='number') {
                      <input class="form-control form-control-sm" type="number"
                        name="value_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                    }@else if (e.type=='date') {
                      <input class="form-control form-control-sm" type="text"
                        name="value_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]" (click)="d2.toggle()" ngbDatepicker
                        #d2="ngbDatepicker">
                    }@else if (e.type=='options') {
                      <select class="form-control form-control-sm" name="value_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                        @for (a of e.opts; track $index) {
                          <option [ngValue]="a">{{a}}</option>
                        }
                      </select>
                    }@else if (e.type=='lookup') {
                      <ng-select style="width:100%" class="ng-select-sm" [items]="lookupListMap[e.opts]" 
                        [virtualScroll]="true" 
                        bindLabel="name" placeholder="No value" [(ngModel)]="_lookupEntry.data[e.key]"
                        name="value_{{$index}}">
                      </ng-select>
                    }@else if (e.type=='multiplelookup') {
                      <ng-select style="width:100%" class="ng-select-sm" [items]="lookupListMap[e.opts]" 
                        [virtualScroll]="true" 
                        [multiple]="true"
                        bindLabel="name" placeholder="No value" [(ngModel)]="_lookupEntry.data[e.key]"
                        name="value_{{$index}}">
                      </ng-select>
                    }@else if (e.type=='file') {
                      <label class="flex-grow-1">
                        <input type="file" [hidden]="true" (change)="uploadFile($event, _lookupEntry.data, e.key)"
                          name="file" />
                        <div class="form-control form-control-sm" style="background: white">
                          <fa-icon [icon]="['fas','upload']"></fa-icon>
                          {{_lookupEntry.data[e.key]||'Browse'}}
                        </div>
                      </label>
                    }@else{
                      <input class="form-control form-control-sm" type="text"
                        name="value_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                    }

                    @if (e.type!='lookup'&&e.type!='multiplelookup'){
                      <button type="button" style="--bs-btn-border-color:#ddd" class="btn btn-sm btn-outline-secondary border-start-0"
                        (click)="deleteDataRow(_lookupEntry.data, e.key)">
                        <fa-icon [icon]="['fas','trash']" [fixedWidth]="true"></fa-icon>
                      </button>
                    }
                   </div>
                </div>
              }
              @for (e of lookupEntryFieldsOrphan|keyvalue; track $index) {
                <div class="form-group mb-3">
                  <label class="form-label">{{e.key}} (orphan)</label>

                  <div class="input-group">
                    @if (!isNumber(_lookupEntry.data[e.key])) {
                      <input class="form-control form-control-sm" style="width:100%" type="text"
                        name="valueorph_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                    }
                    @if (isNumber(_lookupEntry.data[e.key])) {
                      <input class="form-control form-control-sm" style="width:100%" type="number"
                        name="valueorph_{{$index}}"
                        [(ngModel)]="_lookupEntry.data[e.key]">
                    }

                    <button type="button" class="btn btn-sm btn-light"
                      (click)="deleteDataRow(_lookupEntry.data, e.key)">
                      <fa-icon [icon]="['fas','trash']" [fixedWidth]="true"></fa-icon>
                    </button>
                  </div>
                </div>
              }
          </div>
        }



        <div class="form-group mb-3">
          <div class="form-check form-switch mt-1">
            <input type="checkbox" class="form-check-input"
              (change)="_lookupEntry.enabled = $event.target.checked ? 1: 0"
              [(ngModel)]="_lookupEntry.enabled" name="enabled"
              id="enabled">
              <label class="form-check-label" for="enabled">Enabled</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-round btn-secondary" (click)="d()">Close</button>
      <button type="button" class="btn btn-round btn-primary" [disabled]="editLookupEntryForm.invalid"
        (click)="c(_lookupEntry)">
        <fa-icon [icon]="['fas','plus']" [fixedWidth]="true"></fa-icon>
        Save Lookup
      </button>
    </div>
  </div>
</ng-template>

<ng-template #syncLookupTpl let-c="close" let-d="dismiss">
  <div #syncLookupForm="ngForm" ngForm>
    <div class="modal-header">
      <h4 class="modal-title">Re-sync lookup</h4>
    </div>
    <div class="modal-body">
      <div class="form">
        <p>
          Resync older data that uses this lookup with the new updated value.
        </p>
        <div class="form-group mb-3">
          <label class="form-label">Select reference column</label>
          <select class="form-select" name="refCol" [(ngModel)]="syncLookupData.refCol">
            @if (lookup()?.sourceType=='db'){
              <option value="id">Id (use this for lookup with type <strong>db</strong>)</option>
            }
            <option value="code">Code @if(lookup()?.x?.codeLbl){ ({{lookup()?.x?.codeLbl}}) }</option>
            <option value="name">Name @if(lookup()?.x?.nameLbl){ ({{lookup()?.x?.nameLbl}}) }</option>
            <option value="extra">Extra @if(lookup()?.x?.extraLbl){ ({{lookup()?.x?.extraLbl}}) }</option>
          </select>
          <div class="mt-2"><small>Reference column is a common identifier for target data & replacement data.
            To synchronize, both target and replacement should have the same value for reference
          column.</small></div>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-round btn-secondary" (click)="d()">Close</button>
      <button type="button" class="btn btn-round btn-success" (click)="c()">
        <fa-icon [icon]="['fas','sync']" [fixedWidth]="true"></fa-icon>
        Resync Lookup
      </button>
    </div>
  </div>
</ng-template>