<div class="modal-header">
    <h4 class="modal-title">Lookup Configuration</h4>
  </div>
  <div class="modal-body fix-gutter" #lookupEditForm="ngForm" ngForm>
    <div class="form-group mb-3">
      <label class="form-label">Lookup Name *</label>
      <input type="text" class="form-control" [(ngModel)]="lookup().name" 
        #name="ngModel"
        name="name" required>
      @if (name?.invalid) {
        <small class="form-text has-warning">
          @if (name?.errors?.required) {
            <span class="help-block">Name is required</span>
          }
        </small>
      }
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Lookup Description</label>
      <textarea class="form-control" [(ngModel)]="lookup().description"
      #description="ngModel" name="description"></textarea>
    </div>
    <div class="form-group mb-3">
        <label class="form-label">Source Type *</label>
        <div>
          <!-- <div class="btn-group btn-group-toggle" name="sourceType"> -->
            <input type="radio" class="btn-check" value="db" #sourceType="ngModel" name="sourceTypeDb"
              id="sourceTypeDb" [(ngModel)]="lookup().sourceType" [required]="true">
            <label class="btn btn-outline-secondary border-2 me-1 mb-1 text-start" for="sourceTypeDb">
              Database
              <div><small>Key-in locally</small></div>
            </label>
            <input type="radio" class="btn-check" value="rest" #sourceType="ngModel" name="sourceTypeRest"
              id="sourceTypeRest" [(ngModel)]="lookup().sourceType" [required]="true">
            <label class="btn btn-outline-secondary border-2 me-1 mb-1 text-start" for="sourceTypeRest">
              RESTFul
              <div><small>Load via endpoint</small></div>
            </label>
            <input type="radio" class="btn-check" value="proxy" #sourceType="ngModel" name="sourceTypeProxy"
              id="sourceTypeProxy" [(ngModel)]="lookup().sourceType" 
              [required]="true">
            <label class="btn btn-outline-secondary border-2 me-1 mb-1 text-start" for="sourceTypeProxy">
              Proxy
              <div><small>Proxy other lookup</small></div>
            </label>
          <!-- </div> -->
        </div>
        @if (sourceType?.invalid) {
          <small class="form-text has-warning">
            @if (sourceType?.errors?.required) {
              <span class="help-block">Source type is required</span>
            }
          </small>
        }
    </div>
  
    <!-- <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="lookup().shared"
        id="shared" name="shared">
      <label class="form-check-label" for="shared">Shared (Can be used by others)</label>
    </div> -->
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="lookup().x.wide"
        id="wide" name="wide">
      <label class="form-check-label" for="wide">Full width table</label>
    </div>
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="lookup().x.autoResync"
        id="autoResync" name="autoResync">
      <label class="form-check-label" for="autoResync">Auto-sync lookup on add/update entry</label>

      @if (lookup().x.autoResync){
        <div class="form-group mb-3">
          <label class="form-label">Select reference column</label>
          <select class="form-select" name="refCol" [(ngModel)]="lookup().x.refCol">
            @if (lookup().sourceType=='db'){
              <option value="id">Id (use this for lookup with type <strong>db</strong>)</option>
            }
            <option value="code">Code</option>
            <option value="name">Name</option>
            <option value="extra">Extra</option>
          </select>
          <div class="mt-2"><small>Reference column is a common identifier for target data & replacement data.
            To synchronize, both target and replacement should have the same value for reference column.</small></div>
        </div>
      }
    </div>
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="lookup().x.extraDisabled"
        id="extraDisabled" name="extraDisabled">
      <label class="form-check-label" for="extraDisabled">Disable EXTRA field</label>
    </div>
    @if (lookup()?.sourceType == 'db') {
      <div class="form-group form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="lookup().x.codeHidden"
            id="codeHidden" name="codeHidden">
        <label class="form-check-label" for="codeHidden">Hide CODE field (Note: NAME will be used as value for CODE)</label>
      </div>
    }
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" [(ngModel)]="lookup().dataEnabled"
        id="dataEnabled" name="dataEnabled">
      <label class="form-check-label" for="dataEnabled">Enable additional data field (accessible in .data column)
        <small class="d-block">For lookup from RESTful endpoints, data column will contains all attributes of
        the source json. This might slow down the lookup query.</small>
      </label>
    </div>
    @if (lookup()?.sourceType == 'proxy') {
      <div class="form-group mb-3">
        <label class="form-label">Proxy for (lookup ID)</label>
        <input type="text" class="form-control" [(ngModel)]="lookup().proxyId"
          #endpoint="ngModel" name="proxyId" required>
        @if (endpoint?.invalid) {
          <small class="form-text has-warning">
            @if (endpoint?.errors?.required) {
              <span class="help-block">Proxy ID is required</span>
            }
          </small>
        }
      </div>
    }

    <label class="form-label mt-2">Override column label</label>
    @if (!lookup().x.codeHidden){
      <div class="input-group input-group-sm mb-2">
        <label class="input-group-text" for="codeLbl">Code</label>
        <input class="form-control" name="codeLbl" type="text"
          placeholder="Code" [(ngModel)]="lookup().x.codeLbl">
      </div>
    }
    <div class="input-group input-group-sm mb-2">
      <label class="input-group-text" for="nameLbl">Name</label>
      <input class="form-control" name="nameLbl" type="text"
        placeholder="Name" [(ngModel)]="lookup().x.nameLbl">
    </div>
    @if(!lookup().x.extraDisabled){
      <div class="input-group input-group-sm mb-2">
        <label class="input-group-text" for="extraLbl">Extra</label>
        <input class="form-control" name="extraLbl" type="text"
          placeholder="Extra" [(ngModel)]="lookup().x.extraLbl">
      </div>
    }

    @if (lookup()?.sourceType == 'db') {
      <div class="form-group mb-3">
        <label class="form-label">Access to edit available for</label>
        <ng-select [items]="accessList()" bindLabel="name" [multiple]="true" bindValue="id"
          placeholder="Anyone" [(ngModel)]="lookup().accessList"
          name="accessList">
        </ng-select>
      </div>
    }
    @if (lookup()?.sourceType == 'rest') {
      <div class="form-group mb-3">
        <label class="form-label">Request Method Type</label>
        <div>
          <div class="btn-group btn-group-toggle" role="group">
            <input type="radio" name="method" #method="ngModel"
              [(ngModel)]="lookup().method" [required]="true" value="GET"
              class="btn-check" id="methodGET">
            <label class="btn btn-outline-secondary" for="methodGET">GET</label>
            <input type="radio" name="method" #method="ngModel"
              [(ngModel)]="lookup().method" [required]="true" value="POST"
              class="btn-check" id="methodPOST">
            <label class="btn btn-outline-secondary" for="methodPOST">POST</label>
          </div>
        </div>
        @if (method?.invalid) {
          <small class="form-text has-warning">
            @if (method?.errors?.required) {
              <span class="help-block">Request Method Type is required</span>
            }
          </small>
        }
      </div>
      <div class="form-group mb-3">
        <label class="form-label">RESTful Endpoint *</label>
        <input type="text" class="form-control" [(ngModel)]="lookup().endpoint"
          #endpoint="ngModel" name="endpoint" required>
        @if (endpoint?.invalid) {
          <small class="form-text has-warning">
            @if (endpoint?.errors?.required) {
              <span class="help-block">Endpoint URL is required</span>
            }
          </small>
        }
      </div>
      <div class="form-group mb-3">
        <label class="form-label">Response Type *</label>
        <div>
          <div class="btn-group btn-group-toggle">
            <input type="radio" class="btn-check" value="json" id="typeJson" name="typeJson"
              #responseType="ngModel" [(ngModel)]="lookup().responseType"
              [required]="true">
            <label class="btn btn-outline-secondary" for="typeJson"> JSON </label>
            <input type="radio" class="btn-check" value="jsonp" id="typeJsonP" name="typeJsonP"
              #responseType="ngModel" [(ngModel)]="lookup().responseType" 
              [required]="true">
            <label class="btn btn-outline-secondary" for="typeJsonP"> JSONP </label>
          </div>
        </div>
        @if (responseType?.invalid) {
          <small class="form-text has-warning">
            @if (responseType?.errors?.required) {
              <span class="help-block">Response type is required</span>
            }
          </small>
        }
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label class="form-label">Root</label>
            <input type="text" class="form-control" placeholder="ie: /content"
              [(ngModel)]="lookup().jsonRoot" #jsonRoot="ngModel" name="jsonRoot">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label class="form-label">Extra (optional)</label>
            <input type="text" class="form-control" placeholder="ie: /alt"
              [(ngModel)]="lookup().extraProp" #extra="ngModel" name="extraProp">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label class="form-label">Code *</label>
            <input type="text" class="form-control" placeholder="ie: /code"
              [(ngModel)]="lookup().codeProp" #codeProp="ngModel" name="codeProp"
              required>
            @if (codeProp?.invalid) {
              <small class="form-text has-warning">
                @if (codeProp?.errors?.required) {
                  <span class="help-block">Property for code is
                  required</span>
                }
              </small>
            }
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group mb-3">
            <label class="form-label">Desc *</label>
            <input type="text" class="form-control" placeholder="ie: /description"
              [(ngModel)]="lookup().descProp" #descProp="ngModel" name="descProp"
              required>
            @if (descProp?.invalid) {
              <small class="form-text has-warning">
                @if (descProp?.errors?.required) {
                  <span class="help-block">Property for desc is
                  required</span>
                }
              </small>
            }
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label class="form-label">Http Headers</label>
        <input type="text" class="form-control" [(ngModel)]="lookup().headers"
          #headers="ngModel" name="headers">
        <small class="form-text">
          <span class="help-block">
            <fa-icon [icon]="['fas','info-circle']" [fixedWidth]="true"></fa-icon>
            Format: name1->value1|name2->value2
          </span>
        </small>
      </div>
      <div class="form-group mb-3">
        <div class="form-check form-switch">
          <input type="checkbox" class="form-check-input" id="auth"
            [(ngModel)]="lookup().auth" name="auth">
          <label class="form-check-label" for="auth">Authenticate</label>
        </div>
      </div>
      @if (lookup().auth) {
        <div class="form-group mb-3">
          <label class="form-label">Authorization Flow Type *</label>
          <div>
            <div class="btn-group btn-group-toggle">
              <input type="radio" class="btn-check" value="authorization" id="authFlowAuth"
                name="authFlowAuth" #authFlow="ngModel"
                [(ngModel)]="lookup().authFlow" required>
              <label for="authFlowAuth" class="btn btn-outline-secondary"> Authorization
              </label>
              <input type="radio" class="btn-check" value="client_credential" id="authFlowCred"
                name="authFlowCred" #authFlow="ngModel"
                [(ngModel)]="lookup().authFlow" required>
              <label for="authFlowCred" class="btn btn-outline-secondary"> Client
                Credential
              </label>
            </div>
          </div>
          @if (authFlow?.invalid) {
            <small class="form-text has-warning">
              @if (authFlow?.errors?.required) {
                <span class="help-block">Auth flow is required</span>
              }
            </small>
          }
        </div>
        @if (lookup().authFlow=='client_credential') {
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group mb-3">
                <label class="form-label">Client ID *</label>
                <input type="text" class="form-control"
                  [(ngModel)]="lookup().clientId" name="clientId"
                  placeholder="ie: client00001" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group mb-3">
                <label class="form-label">Client Secret *</label>
                <input type="text" class="form-control"
                  [(ngModel)]="lookup().clientSecret" name="clientSecret"
                  placeholder="ie: 87897jhjd-9182731yye" required>
              </div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Token Endpoint *</label>
            <input type="text" class="form-control" name="tokenEndpoint"
              [(ngModel)]="lookup().tokenEndpoint"
              placeholder="ie: https://identity.unimas.my/oauth/token" required>
          </div>
        }
        <div class="form-group mb-3">
          <div class="form-check form-switch mt-1">
            <input type="checkbox" class="form-check-input"
              (change)="lookup().tokenTo = $event.target.checked ? 'url': 'header'"
              [checked]="lookup().tokenTo=='url'" name="tokenTo" id="tokenTo">
            <label class="form-check-label" for="tokenTo">Add access token to URL (instead of
            Header)</label>
          </div>
        </div>
      }
    }
    @if (lookup().dataEnabled) {
      <div class="form-group mb-3">
        @if (lookup().sourceType=='rest') {
          <label class="form-label">Data fields to retain (comma separated,
            leave blank if
          retain all)</label>
        }
        @if (lookup().sourceType=='db') {
          <label class="form-label">Additional Data fields (comma separated)
          *</label>
        }
        <textarea type="text" class="form-control" [(ngModel)]="lookup().dataFields"
        #endpoint="ngModel" name="dataFields" [required]="lookup().sourceType=='db'"></textarea>
      </div>
    }
  </div>
  <div class="modal-footer justify-content-between">
    <button type="button" class="btn btn-round btn-secondary" (click)="dismiss()()">Close</button>
    <button type="button" class="btn btn-round btn-primary" [disabled]="lookupEditForm.invalid"
      (click)="close()(lookup())">
      <fa-icon [icon]="['fas','plus']" [fixedWidth]="true"></fa-icon>
      Save Lookup
    </button>
  </div>
