.viewport{
    overflow-x: hidden;
}
.element .element-edit {
    opacity: 0;
    z-index: 2;
}

.element .element-edit .btn {
    margin: 0 2px;
}

.element:hover .element-edit,
.element:active .element-edit {
    opacity: 1;
}

.element:hover::after,
.element:active::after {
    content: '';
    position: absolute;
    // background: rgba(var(--bs-body-color-rgb, 255, 255, 255), 0.1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.element .element-item {
    pointer-events: none !important;
}

.element:hover .element-item,
.element:active .element-item {
    filter: blur(2px);
}

@media screen and (min-width: 640px) {
    .prev-row {
        display: flex;
        flex-direction: row;
    }
    .form-previous {
        flex-grow: 1;
        border-bottom: solid 2px var(--bs-border-color);
    }
    .prev-row .form-previous {
        flex-grow: 1;
        border-right: solid 2px var(--bs-border-color);
        border-bottom: none;
    }
}

.form-previous {
    border-bottom: solid 2px var(--bs-border-color);
}

.def-sort-field {
    color: var(--bs-primary);
}

.def-sort-field .def-sort-dir {
    font-weight: bold;
}



// table.tblcard > .list-tmid > tr.ds-group-header {
//     box-shadow: none;
// }

// /* Hide .section-group if its inner .row lacks any visible (non-hidden) children */
// .section-group:not(:has(.row > *:not([hidden]))) {
//     display: none !important;
// }

// .section-group{ 
//     // overflow:hidden; // hide horizontal scrollbar when in mobile device (somehow shown because not wrapped in container)
//     // padding: 1rem 0rem; // on mobile device
//     padding:1rem 0;
//     // padding-top: 1rem;
//     // padding-top: 1rem; // on mobile device
//     // padding-bottom:1rem;
// }

// @media screen and (min-width: 640px) {
// .section-group{
//     padding:1rem 1rem 0rem; // on desktop, use padding
//   }
// }

