.element .element-edit {
    opacity: 0;
    z-index: 2;
}

.element .element-edit .btn {
    margin: 0 2px;
}

.element:hover .element-edit,
.element:active .element-edit {
    opacity: 1;
}

.element:hover::after,
.element:active::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.element .element-item {
    pointer-events: none !important;
}

.element:hover .element-item,
.element:active .element-item {
    filter: blur(2px);
}


/* .heading{
    position: relative;
    left: -10px;
    margin: 1rem 0rem;
    background: rgb(63, 81, 181);
    color: white;
    width:100%;
    padding: 1em;
}
.heading::after{
    content: '';
  position: absolute;
  height: 0;
  width: 0;
    top: 100%;
    left: 0px;
    border-top: 10px solid #7f0000;
    border-left: 10px solid transparent;
} */
/* .card{
    border:none;
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
} */
/* .single-pane.responsive {
    padding: 0.75rem 0;
} */
/* @media screen and (min-width: 640px) {
    .card{
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    .single-pane {
        padding: 0.75rem;
    }
} */


/* .card-header{position:relative; border-bottom:none;background-color: white;}
.card-header::after{
    content:'';
    border-bottom: solid 1px #ccc;
    position:absolute;
    right: 0px;
    left: 0px;
    margin: 0px 15px;
    bottom:0px;
}
.card-header .card-title{line-height: 1;} */
/* .card-header .card-title::before{
    content: '';
    position: absolute;
    left: 0px;
    background: #bbb;
    width: 4px;
    height: 1em;
    border-radius: 0px 3px 3px 0px;
} */

@media screen and (min-width: 640px) {
    .prev-row{
        display: flex;
        flex-direction: row;
    }
    .form-previous{
        flex-grow: 1;
        border-bottom: solid 2px #ddd;
    }
    .prev-row .form-previous{
        flex-grow: 1;
        border-right: solid 2px #ddd;
        border-bottom: none;
    }
}
.form-previous{
    border-bottom: solid 2px #ddd;
}

.def-sort-field{
    color: blue;
}
.def-sort-field .def-sort-dir{
    font-weight: bold;
}
/* .card-blank-style .card-header{
    padding-left:0 !important;
    padding-right:0 !important;
} */
.card-blank-style .card-body{
    padding:0 !important;
}

table.tblcard > .list-tmid >  tr.ds-group-header {
    box-shadow:none;
  }

