@use '../../list/list-tblcard' as *;

tr.row-danger * { background-color: var(--bs-danger-bg-subtle, rgb(220, 53, 69)); color: var(--bs-danger-text-emphasis, white) !important; }
tr.row-vault * { background-color: var(--bs-tertiary-bg, #eee); color: var(--bs-body-color-subtle, rgba(0,0,0,.5)) !important; }

.limit-height { max-height: 400px; overflow: auto; }
.code-container { display: flex; flex-direction: column-reverse; }
.dropdown-toggle::after { display: none; }

.toolbar:not(:has(*)) { display: none !important; }
.toolbar {
  background-color: var(--bs-body-bg); border-radius: 0.5rem; border: 2px solid var(--bs-border-color); padding: 0.25rem;
  &:focus-within { border-color: var(--bs-primary); }
  .btn, input { border: none !important; box-shadow: none !important; outline: none !important; }
  .btn:not(.btn-primary):not(.btn-danger):hover, .btn:not(.btn-primary):not(.btn-danger):focus { color: var(--bs-primary); }
  input[type="search"] { flex: 1 1 0%; min-width: 0; }
}

@media screen and (max-width: 575.98px) {
  @include shared-tblcard-styles;
  table.tblcard {
    &.table-bordered > :not(caption) > * > * { border-width: 0 !important; border-color: transparent !important; }
    .ds-row {
      display: grid !important; grid-template-columns: 110px 1fr !important; border-radius: 0.75rem !important; 
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05) !important; padding-top: 1rem; margin-bottom: 1rem !important;
      > td::after, .photo-cell::before, .info-cell::before { display: none !important; }
    }
    .photo-cell { grid-column: 1; padding: 0 0 0 1rem !important; display: flex; justify-content: flex-start; }
    .info-cell { grid-column: 2; padding: 0 1rem 0 0.5rem !important; text-align: left !important; display: block !important; }
    .status-cell { grid-column: 1 / -1; margin: 0.5rem 1rem !important; text-align: left !important; }
    .status-cell::before{
      
        margin-right: 1.7rem;
    }
    .ds-action { grid-column: 1 / -1; padding-top: 0.5rem !important; }
  }
}

@media screen and (min-width: 576px) {
  table.ds-table tr:not(.ds-group-header) { td:first-child, th:first-child { padding-left: 1rem; } }
  .table-desktop-bordered > :not(caption) > * > * { border: 1px solid var(--bs-border-color); }
}