<div class="fix-gutter" [class.limit-width]="!screen().wide">
  <div class="single-pane">
    @if (bucket()) {
      <div class="d-flex flex-row">
        <div style="flex-grow: 1;">
          <input type="search" class="form-control form-control-sm border border-2" autocapitalize="none"
            placeholder="Filter list" (keyup.enter)="getFileList(1,params)" [(ngModel)]="searchTextFile">
        </div>
        <div style="flex-shrink: 0;">
          @if (screen().data?.enableUpload){
          <label class="form-label m-0">
            <input type="file" [hidden]="true" (change)="uploadFile($event)" name="file" />
            @if (!importLoading()) {
            <div class="btn border border-2 btn-outline-primary btn-sm ms-1">
              <fa-icon [icon]="['fas','upload']" [fixedWidth]="true"></fa-icon> {{lang()=='ms'?'Muatnaik Fail':'Upload File'}}
            </div>
            }@else {
            <button type="button" class="btn border border-2 btn-outline-primary btn-sm ms-1" disabled>
              <fa-icon [icon]="['fas','upload']" [fixedWidth]="true"></fa-icon> {{lang()=='ms'?'Memuatnaik':'Uploading'}}...
            </button>
            }
          </label>
          }
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn border border-2 btn-sm ms-1" title="More bucket actions"
              id="dropdownBucketEditor" ngbDropdownToggle>
              <fa-icon [icon]="['fas','ellipsis-h']" [fixedWidth]="true"></fa-icon>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBucketEditor">
              <button type="button" title="Initialize bucket zipping process" ngbDropdownItem
                (click)="initZip(initBucketZipTpl, bucket().id)">
                <fa-icon [icon]="['far','file-archive']" [fixedWidth]="true"></fa-icon>
                {{lang()=='ms'?'Cipta fail Zip':'Initialize Zip'}}
              </button>
              <button type="button" title="Bucket Stat" ngbDropdownItem (click)="bucketStat(bucketStatTpl)"
                [class.disabled]="offline()">
                <fa-icon [icon]="['fas','tachometer-alt']" [fixedWidth]="true"></fa-icon>
                {{lang()=='ms'?'Statistik Bucket':'Bucket Statistics'}}
              </button>
              <button type="button" title="Reorganize bucket" ngbDropdownItem [class.disabled]="offline()"
                (click)="reorganize(bucket().id)">
                <fa-icon [icon]="['fas','sync']" [fixedWidth]="true"></fa-icon>
                {{lang()=='ms'?'Susun semula fail Bucket':'Reorganize Bucket files'}}
              </button>
              <button type="button" title="View anti-virus scanning logs" ngbDropdownItem
                [disabled]="!serverInfo.avEnabled" (click)="openAvLogs(avLogListTpl, bucket().id)">
                <fa-icon [icon]="['fas','exclamation-triangle']" [fixedWidth]="true"></fa-icon>
                {{lang()=='ms'?'Imbas Anti-virus':'Anti-virus Scan'}}
              </button>
            </div>
          </div>
        </div>
      </div>
      @if (loading()) {
        <div class="p-4 text-center">
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      }@else{
        <div class="mt-1">
          <button class="btn border btn-light btn-sm rounded-3-5 me-1 mb-1 py-1 px-2"
            [ngClass]="{'bg-info-subtle text-primary border-primary': !sStatus}" (click)="bySStatus(undefined)">
            {{lang()=='ms'?'Semua':'All'}}
          </button>
          <button class="btn border btn-light btn-sm rounded-3-5 me-1 mb-1 py-1 px-2"
            [ngClass]="{'bg-info-subtle text-primary border-primary': sStatus=='OK'}" (click)="bySStatus('OK')">
            {{lang()=='ms'?'Fail Selamat':'Safe file'}}
          </button>
          <button class="btn border btn-light btn-sm rounded-3-5 me-1 mb-1 py-1 px-2"
            [ngClass]="{'bg-info-subtle text-primary border-primary': sStatus=='FOUND'}" (click)="bySStatus('FOUND')">
            {{lang()=='ms'?'Ancaman Dikesan':'Threat Found'}}
          </button>
          <button class="btn border btn-light btn-sm rounded-3-5 me-1 mb-1 py-1 px-2"
            [ngClass]="{'bg-info-subtle text-primary border-primary': sStatus=='VAULT'}" (click)="bySStatus('VAULT')">
            {{lang()=='ms'?'Kuarantin':'Quarantined'}}
          </button>
        </div>
        <div class="position-relative">
          @if (itemLoading()) {
            <div class="header-colors"></div>
          }

          <div [class.disabled]="itemLoading()">
            <div class="table-responsive">
              @if (bucketFileList()?.length) {
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10%">{{lang()=='ms'?'Paparan':'Preview'}}</th>
                      <th class="w-10">{{lang()=='ms'?'Info Fail':'File Info'}}</th>
                      <th style="width: 5%">{{lang()=='ms'?'Pemuatnaik':'Uploader'}}</th>
                      @if (screen().data?.enableDelete){
                      <th style="width: 5%">&nbsp;</th>
                      }
                    </tr>
                  </thead>
                  <tbody>
                    @for (bucketFile of bucketFileList(); track bucketFile.id) {
                    <tr [class.row-danger]="bucketFile.sstatus=='FOUND'" [class.row-vault]="bucketFile.sstatus=='VAULT'">
                      <td>
                        @if (bucketFile.fileType.indexOf('image')>-1) {
                        <img loading="lazy" src="{{getUrl('/entry/file/',bucketFile.fileUrl)}}" width="58"
                          onerror="this.src='assets/img/placeholder-128.png'">
                        } @else {
                        <span class="text-muted text-center">
                          {{lang()=='ms'?'Tiada Paparan Tersedia':'No Preview Available'}}</span>
                        }
                      </td>
                      <td>
                        <div>{{bucketFile.fileName}}</div>
                        <div class="small">
                          <div>
                            @if(!['FOUND','VAULT'].includes(bucketFile.sstatus)){
                            <a href="{{getUrl('/entry/file/',bucketFile.fileUrl)}}" target="_blank">{{bucketFile.fileUrl}}</a>
                            }@else {
                            {{bucketFile.fileUrl}}
                            }
                          </div>
                          <div>{{lang()=='ms'?'Dimuatnaik pada':'Uploaded on'}}: {{bucketFile.timestamp|date:'medium'}}</div>
                          <div>{{lang()=='ms'?'Saiz Fail':'File size'}}: {{bucketFile.fileSize/(1024*1024)|number}} MiB</div>
                          <div>{{lang()=='ms'?'Jenis Fail':'File type'}}: {{bucketFile.fileType}}</div>
                          @if (bucketFile.itemLabel) {
                          <div>{{lang()=='ms'?'Dari Input':'From input'}}: {{bucketFile.itemLabel}}</div>
                          }
                          @if (bucketFile.entryId) {
                          <div>For entry #{{bucketFile.entryId}}</div>
                          }
                          @if(['FOUND'].includes(bucketFile.sstatus)){
                          <div class="fw-bold mt-2">
                            <fa-icon [icon]="['fas','exclamation-triangle']" [fixedWidth]="true"></fa-icon>
                            {{bucketFile.smessage}}
                            @if (bucketFile.sstatus=='FOUND'){
                            <div class="mt-2">
                              <button class="btn btn-light btn-sm" (click)="quarantine(bucketFile.id)">Quarantine</button>
                            </div>
                            }
                            <div></div>
                          </div>
                          }@else {
                          {{bucketFile.smessage}}
                          }
                        </div>
                      </td>
                      <td>{{bucketFile.email}}</td>
                      @if (screen().data?.enableDelete){
                      <td class="text-nowrap">
                        <div>
                          <button type="button" class="btn btn-secondary me-1 btn-sm btn-round" [class.disabled]="offline()"
                            (click)="removeBucketFile(removeBucketFileTpl,bucketFile)">
                            <fa-icon [icon]="['fas','trash']" [fixedWidth]="true"></fa-icon>
                          </button>
                        </div>
                      </td>
                      }
                    </tr>
                    }
                  </tbody>
                </table>
                }
            </div>
          </div>
        </div>
      }
      @if ((bucketFileList()?.length) > 0) {
      <div class="text-center d-flex justify-content-center pagination-rounded">
        @if (bucketFileTotal()>pageSize) {
        <ngb-pagination [collectionSize]="bucketFileTotal()" [pageSize]="pageSize" [(page)]="pageNumber" [maxSize]="10"
          (pageChange)="getFileList(pageNumber(),params)" [boundaryLinks]="false" [directionLinks]="false">
          <ng-template ngbPaginationFirst>
            <fa-icon [icon]="['fas','angle-double-left']"></fa-icon>
          </ng-template>
          <ng-template ngbPaginationPrevious>
            <fa-icon [icon]="['fas','chevron-left']"></fa-icon>
          </ng-template>
          <ng-template ngbPaginationNext>
            <fa-icon [icon]="['fas','chevron-right']"></fa-icon>
          </ng-template>
          <ng-template ngbPaginationLast>
            <fa-icon [icon]="['fas','angle-double-right']"></fa-icon>
          </ng-template>
        </ngb-pagination>
        }
      </div>
      }
      @if (bucketFileList()?.length == 0 && !loading()) {
      <div class="details">
        <h3>{{lang()=='ms'?'Tiada data':'No data'}}</h3>
        <p> {{lang()=='ms'?'Tiada fail dimuatnaik ke dalam bucket ini':'There is no file uploaded to this bucket'}}.
          <br /> {{lang()=='ms'?'Anda boleh muatnaik fail dengan klik pada butang Muatnaik':'You can upload new file by clicking on the Upload button'}}.
        </p>
      </div>
      }
    }@else{
    <div style="color:#aaa;">
      <h3>{{lang()=='ms'?'Sili pilih Bucket dari senarai':"Please select Bucket from the list on the left to view it's data"}}.</h3>
    </div>
    }
  </div>
</div>

<ng-template #removeBucketFileTpl let-c="close" let-d="dismiss">
  <div>
    <div class="modal-header">
      <h4 class="modal-title">{{lang()=='ms'?'Buang Fail':'Remove File'}}</h4>
    </div>
    <div class="modal-body">
      <div class="form form-horizontal">
        <div class="form-group mb-3">
          <label class="form-label">{{lang()=='ms'?'Nama':'Name'}}</label>
          <p class="form-control-static">{{removeBucketFileData.fileName}}</p>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Path</label>
          <p class="form-control-static">{{removeBucketFileData.fileUrl}}</p>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">{{lang()=='ms'?'Dimuatnaik pada':'Uploaded on'}}</label>
          <p class="form-control-static">{{removeBucketFileData.timestamp|date:'medium'}}</p>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">{{lang()=='ms'?'Pemuatnaik':'Uploaded by'}}</label>
          <p class="form-control-static">{{removeBucketFileData.email}}</p>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-round btn-secondary" (click)="d()">{{lang()=='ms'?'Tutup':'Close'}}</button>
      <button type="button" class="btn btn-round btn-primary" (click)="c(removeBucketFileData)">
        <i class="icon-minus-sign-alt"></i> {{lang()=='ms'?'Buang Fail':'Remove File'}}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #avLogListTpl let-c="close" let-d="dismiss">
  <div>
    <div class="modal-header">
      <h4 class="modal-title">{{lang()=='ms'?'Imbas Anti-virus':'Anti-virus Scan'}}</h4>
    </div>
    <div class="modal-body">
      <div>
        <button class="btn btn-primary" [disabled]="scanLoading[bucket().id]" (click)="startScan(bucket)">
          @if(!scanLoading[bucket().id]){
          {{lang()=='ms'?'Mula Imbasan':'Start Scan'}}
          }@else {
          {{lang()=='ms'?'Mengimbas':'Scanning'}} <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          }
        </button>

        @if (scanProgress[bucket().id]) {
        <div style="position: relative;" class="mx-n3 mt-3 ">
          <div class="px-2 py-1 bg-white limit-height code-container">
            <div>
              <pre class="my-0">{{scanProgress[bucket().id].print}}</pre>
            </div>
          </div>
        </div>
        }
      </div>
      @if (avLogList.length>0){
      <ul class="list-group mt-3">
        @for(log of avLogList; track $index){
        <li class="list-group-item"><a
            href="{{baseApi}}/public/bucket/{{bucket().id}}/av-logs/{{log.fileName}}">{{log.fileName}}</a></li>
        }
      </ul>
      }@else{
      <h4 class="text-muted mt-3">{{lang()=='ms'?'Tiada log tersedia':'No log available'}}</h4>
      }
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-round btn-secondary" (click)="d()">{{lang()=='ms'?'Tutup':'Close'}}</button>
    </div>
  </div>
</ng-template>

<ng-template #initBucketZipTpl let-c="close" let-d="dismiss">
  <div>
    <div class="modal-header">
      <h4 class="modal-title">Bucket Zip</h4>
    </div>
    <div class="modal-body">
      <div class="form form-horizontal">
        <div class="form-group mb-3">
          <label class="form-label">{{lang()=='ms'?'Nama Fail':'File Name'}}</label>
          <p class="form-control-static">{{initZipData.fileName}}</p>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">Path</label>
          <p class="form-control-static"><a href="{{initZipData.fileUrl}}">{{initZipData.fileUrl}}</a></p>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">{{lang()=='ms'?'Mula mengarkib':'Start archiving'}}</label>
          <p class="form-control-static">{{initZipData.timestamp|date:'medium'}}</p>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">{{lang()=='ms'?'Keseluruhan':'Total'}}</label>
          <p class="form-control-static">{{initZipData.total}}</p>
        </div>
        <button type="button" class="btn btn-primary" (click)="downloadZip(initZipData.fileName)">
          <fa-icon [icon]="['far','file-archive']" [fixedWidth]="true"></fa-icon> {{lang()=='ms'?'Muatturun Zip':'Download Zip'}}
        </button>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-round btn-secondary" (click)="d()">{{lang()=='ms'?'Tutup':'Close'}}</button>
    </div>
  </div>
</ng-template>

<ng-template #bucketStatTpl let-c="close" let-d="dismiss">
  <div>
    <div class="modal-header">
      <h4 class="modal-title">{{lang()=='ms'?'Dalam bucket ini':'In this bucket'}}</h4>
    </div>
    <div class="modal-body">
      <div class="">
        <div class="row">
          <div class="col-6">
            <div class="form-group mb-3">
              <label class="form-label">{{lang()=='ms'?'Keseluruhan Fail':'Total File'}}</label>
              <p class="form-control-static">{{bucketStatData.totalCount}}</p>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group mb-3">
              <label class="form-label">{{lang()=='ms'?'Keseluruhan Saiz':'Total Size'}}</label>
              <p class="form-control-static">{{bucketStatData.totalSize/(1024*1024)|number}}<sup>MiB</sup></p>
            </div>
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">{{lang()=='ms'?'Bilangan mengikut Jenis':'Count by Type'}}</label>
          <div class="d-flex overflow-hidden my-2" style="border-radius:3px;">
            @for (i of bucketStatData.typeCount; track $index; let index = $index) {
              <div
                [ngStyle]="{'background-color':selectColor(index), 'width':(i.value/bucketStatData.totalCount)*100+'%'}"
                style="height:8px; display:inline-flex;">
              </div>
            }
          </div>
          <div class="list-group small">
            @for (i of bucketStatData.typeCount; track $index; let index = $index) {
              <div class="list-group-item">
                <div class="row">
                  <div class="col-8 text-truncate">
                    <div [ngStyle]="{'background-color':selectColor(index)}"
                    style="height:8px; width:8px; display: inline-block"></div>
                    {{i.name}}
                  </div>
                  <div class="col-4" style="text-align:right">{{i.value}}</div>
                </div>
              </div>
            }
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">{{lang()=='ms'?'Saiz mengikut Jenis':'Size by Type'}}</label>
          <div class="d-flex overflow-hidden my-2" style="border-radius:3px;">
            @for (i of bucketStatData.typeSize; track $index; let index = $index) {
              <div
                [ngStyle]="{'background-color':selectColor(index), 'width':(i.value/bucketStatData.totalSize)*100+'%'}"
                style="height:8px; display:inline-flex;">
              </div>
            }
          </div>
          <div class="list-group small">
            @for (i of bucketStatData.typeSize; track $index; let index = $index) {
              <div class="list-group-item">
                <div class="row">
                  <div class="col-8 text-truncate">
                    <div [ngStyle]="{'background-color':selectColor(index)}"
                    style="height:8px; width:8px; display: inline-block"></div>
                    {{i.name}}
                  </div>
                  <div class="col-4" style="text-align:right">{{i.value/(1024*1024)|number}}<sup>MiB</sup>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">{{lang()=='ms'?'Bilangan mengikut Medan Borang':'Count by Form Field'}}</label>
          <div class="d-flex overflow-hidden my-2" style="border-radius:3px;">
            @for (i of bucketStatData.labelCount; track $index; let index = $index) {
              <div
                [ngStyle]="{'background-color':selectColor(index), 'width':(i.value/bucketStatData.totalCount)*100+'%'}"
                style="height:8px; display:inline-flex;">
              </div>
            }
          </div>
          <div class="list-group small">
            @for (i of bucketStatData.labelCount; track $index; let index = $index) {
              <div class="list-group-item">
                <div class="row">
                  <div class="col-8">
                    <div [ngStyle]="{'background-color':selectColor(index)}"
                    style="height:8px; width:8px; display: inline-block"></div>
                    {{i.name||'n/a'}}
                  </div>
                  <div class="col-4" style="text-align:right">{{i.value}}</div>
                </div>
              </div>
            }
          </div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label">{{lang()=='ms'?'Saiz mengikut Medan Borang':'Size by Form Field'}}</label>
          <div class="d-flex overflow-hidden my-2" style="border-radius:3px;">
            @for (i of bucketStatData.labelSize; track $index; let index = $index) {
              <div
                [ngStyle]="{'background-color':selectColor(index), 'width':(i.value/bucketStatData.totalSize)*100+'%'}"
                style="height:8px; display:inline-flex;">
              </div>
            }
          </div>
          <div class="list-group small">
            @for (i of bucketStatData.labelSize; track $index; let index = $index) {
              <div class="list-group-item">
                <div class="row">
                  <div class="col-8">
                    <div [ngStyle]="{'background-color':selectColor(index)}"
                    style="height:8px; width:8px; display: inline-block"></div>
                    {{i.name||'n/a'}}
                  </div>
                  <div class="col-4" style="text-align:right">{{i.value/(1024*1024)|number}}<sup>MiB</sup>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-round btn-secondary" (click)="d()">{{lang()=='ms'?'Tutup':'Close'}}</button>
    </div>
  </div>
</ng-template>