tr.row-danger * {
  background-color: var(--bs-danger-bg-subtle, rgb(220, 53, 69));
  color: var(--bs-danger-text-emphasis, white) !important;
}

tr.row-vault * {
  background-color: var(--bs-tertiary-bg, #eee);
  color: var(--bs-body-color-subtle, rgba(0,0,0,.5)) !important;
}

.limit-height {
  max-height: 400px;
  overflow: auto;
}

.code-container {
  display: flex;
  flex-direction: column-reverse;
}