<ng-template #errorIcon>
  <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none' stroke='#dc3545' viewBox='0 0 12 12'>
    <circle cx='6' cy='6' r='4.5' />
    <path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z' />
    <circle cx='6' cy='8.2' r='.6' fill='#dc3545' stroke='none' />
  </svg>
</ng-template>
<ng-template #valError let-formField="formField" let-field="field">
<!-- nuuuuu---{{imgclsVal()}}----{{formField?.touched}} -->
  @if (formField?.touched && formField?.invalid) {
    <small class="val-text text-danger">
      <fa-icon [icon]="['fas','exclamation-triangle']"></fa-icon>
      @if (formField.errors.required) {
        <span>{{field().label}} is required</span>
      }
      @if (formField.errors.minlength) {
        <span>{{field().label}} must have at least {{field()?.v?.minlength}}
        characters</span>
      }
      @if (formField.errors.maxlength) {
        <span>{{field().label}} must have at most {{field()?.v?.maxlength}} characters</span>
      }
      @if (formField.errors.pattern) {
        <span>Not a valid {{field().label}}</span>
      }
      @if (formField.errors.max) {
        <span>{{field().label}} should be under {{field()?.v?.max}}</span>
      }
      @if (formField.errors.min) {
        <span>{{field().label}} should be above {{field()?.v?.min}}</span>
      }
      @if (formField.errors.ngbDate) {
        <span>Invalid date</span>
      }
      @if (formField.errors.maxsize) {
        <span>File size should not exceed {{field()?.v?.max}}MB. Ignored file(s):
        {{formField.errors.files}}</span>
      }
    </small>
  }
  @if (value && field()?.x?.imgcls && field()?.v?.imgcls && !imgclsVal()) {
    <small class="val-text text-danger">
      <fa-icon [icon]="['fas','exclamation-triangle']"></fa-icon>
        <span>Image doesn't contain any '{{field().v.imgcls}}'</span>
    </small>
  }
</ng-template>

<div class="form-group position-relative" [ngClass]="field().altClass">
  @defer (on idle) {
    <ng-container
      *ngTemplateOutlet="{'text':text,'number':number,'date':date,'checkbox':checkbox,'select':select,'radio':radio,'simpleOption':simpleOption,'scaleTo10':scaleTpl,'scaleTo5':scaleTpl,'scale':scaleTpl,
      'speech':speech,
      'imagePreview':imagePreview,'file':file,'eval':eval,'static':static,'qr':qr,'modelPicker':modelPicker,'checkboxOption':checkboxOption, 'btn':btn, 'color':color, 'map':map}[field().type]">
    </ng-container>
    @if (field().hint) {
      <small class="val-text form-text text-muted d-block">
        <fa-icon [icon]="['fas','info-circle']"></fa-icon>
        <span>{{field().hint}}</span>
      </small>
    }
  }
</div>

<ng-template #text>
  @if (field().subType=='input') {
    <label class="has-float-label" [class.always]="always()" for="f-{{field().id}}-{{id()}}">
      <input class="form-control" [attr.list]="'datalist-'+field().id+'-'+id()" [class.is-invalid]="formField?.invalid"
        type="text" id="f-{{field().id}}-{{id()}}" name="f-{{field().id}}-{{id()}}" #formField="ngModel" [(ngModel)]="value"
        [maxlength]="field()?.v?.maxlength" (focus)="selectFocused($event)" autocomplete="off" [ngxMask]="field()?.v?.mask"
        [minlength]="field()?.v?.minlength" [placeholder]="field().placeholder||'&nbsp;'" [pattern]="field()?.v?.pattern"
        (blur)="valueBlured($event)"
        [required]="field()?.v?.required" (ngModelChange)="valueChanged($event)" [readonly]="field().readOnly" />
      @if (!field().hideLabel) {
        <span class="label-span">{{field().label}} 
          @if (field()?.v?.required) {
          <span>*</span>
          }
        </span>
      }
      @if (hasFocus) {
        <datalist id="datalist-{{field().id}}-{{id()}}">
          @for (c of lookupList(); track $index) {
            <option>{{c.name}}</option>
          }
        </datalist>
      }
      <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
    </label>
  }
  @if (field().subType=='textarea') {
    <label class="has-float-label" [class.always]="always()" for="f-{{field().id}}-{{id()}}">
      <textarea class="form-control" [class.is-invalid]="formField?.invalid" id="f-{{field().id}}-{{id()}}"
        [ngxMask]="field()?.v?.mask" name="f-{{field().id}}-{{id()}}" #formField="ngModel" [(ngModel)]="value"
        [maxlength]="field()?.v?.maxlength" [minlength]="field()?.v?.minlength" [placeholder]="field().placeholder||'&nbsp;'"
        [pattern]="field()?.v?.pattern" [rows]="field()?.v?.rows||3" [required]="field()?.v?.required"
        (ngModelChange)="valueChanged($event)" (blur)="valueBlured($event)" [readonly]="field().readOnly"></textarea>
      @if (!field().hideLabel) {
        <span class="label-span">{{field().label}} 
          @if (field()?.v?.required) {
            <span>*</span>
          }
        </span>
      }
      <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
    </label>
  }
  @if (field().subType=='richtext') {
    <label class="has-float-label" [class.always]="always()" [class.has-value]="value?true:false" [class.pe-none]="field().readOnly" for="f-{{field().id}}-{{id()}}">
      @defer(prefetch on idle){
        <angular-editor class="clean" [config]="editorConfig"
          [class.is-invalid]="formField?.invalid" id="f-{{field().id}}-{{id()}}"
          name="f-{{field().id}}-{{id()}}" #formField="ngModel" [(ngModel)]="value" (ngModelChange)="valueChanged($event)"         
          [required]="field()?.v?.required"
          [placeholder]="field().placeholder||'&nbsp;'">
        </angular-editor>
      }
      @if (!field().hideLabel) {
        <span class="label-span">{{field().label}} 
          @if (field()?.v?.required) {
            <span>*</span>
          }
        </span>
      }
      <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
    </label>
  }
</ng-template>

<ng-template #color>
    <label class="has-float-label" [class.always]="always()" for="f-{{field().id}}-{{id()}}">
      <input class="form-control form-control-color" [class.is-invalid]="formField?.invalid"
        type="color" id="f-{{field().id}}-{{id()}}" name="f-{{field().id}}-{{id()}}" #formField="ngModel" [(ngModel)]="value"
        autocomplete="off" [ngxMask]="field()?.v?.mask"
        [placeholder]="field().placeholder||'&nbsp;'"
        [required]="field()?.v?.required" (ngModelChange)="valueChanged($event)" [readonly]="field().readOnly" />
      @if (!field().hideLabel) {
        <span class="label-span">{{field().label}} 
          @if (field()?.v?.required) {
          <span>*</span>
          }
        </span>
      }
      <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
    </label>
</ng-template>

<ng-template #number>
  @if (field().subType == 'range'){
    <div class="mt-n2">
      @if (!field().hideLabel) {
        <label class="label-span me-1" for="f-{{field().id}}-{{id()}}">
          <span [innerHtml]="field().label">{{field().label}}</span>
          @if (field()?.v?.required) {
            <span>*</span>
          } 
          @if(value!=undefined){
            ({{value}})
          }
        </label>
      }
      @if (field()?.v?.required && !value) {
        <ng-template [ngTemplateOutlet]="errorIcon"></ng-template>
      }
      <input class="form-range" type="range" [class.is-invalid]="formField?.invalid" id="f-{{field().id}}-{{id()}}"
        name="f-{{field().id}}-{{id()}}" #formField="ngModel" [(ngModel)]="value" [placeholder]="field().placeholder||'&nbsp;'"
        [min]="field()?.v?.min" [max]="field()?.v?.max"
        [required]="field()?.v?.required" (ngModelChange)="valueChanged($event)"
        [disabled]="field().readOnly">
    </div>
  } @else{
    <label class="has-float-label" [class.always]="always()" for="f-{{field().id}}-{{id()}}">
      <input class="form-control" type="number" [class.is-invalid]="formField?.invalid" id="f-{{field().id}}-{{id()}}"
        name="f-{{field().id}}-{{id()}}" #formField="ngModel" [(ngModel)]="value" [placeholder]="field().placeholder||'&nbsp;'"
        [min]="field()?.v?.min" [max]="field()?.v?.max" [required]="field()?.v?.required" (ngModelChange)="valueChanged($event)"
        [readonly]="field().readOnly" />
    
      @if (!field().hideLabel) {
        <span class="label-span">{{field().label}} 
          @if (field()?.v?.required) {
            <span>*</span>
          }
        </span>
      }
      <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
    </label>
  }
</ng-template>

<ng-template #date>
  <div class="row">
    @if (['date','date-inline','datetime','datetime-inline'].indexOf(field().subType)>-1) {
      <div class="col" [class.col-auto]="field().subType?.indexOf('inline')>-1">
        @if (field().subType?.indexOf('inline')>-1) {
          @if (!field().hideLabel) {
            <label class="label-span me-1" for="f-{{field().id}}-{{id()}}">{{field().label}} 
              @if (field()?.v?.required) {
                <span>*</span>
              }
              @if (field().hint) {
                <fa-icon class="ms-1" [icon]="['fas','info-circle']" ngbTooltip="{{field().hint}}"></fa-icon>
              }
            </label>
          }
          @if (formField?.invalid) {
            <ng-template [ngTemplateOutlet]="errorIcon"></ng-template>
          }
          <div>
            <ngb-datepicker [class.is-invalid]="formField?.invalid" id="f-{{field().id}}-{{id()}}"
              name="f-{{field().id}}-{{id()}}" #formField="ngModel" [(ngModel)]="value" [required]="field()?.v?.required"
              [minDate]="field()?.v?.minDate" [maxDate]="field()?.v?.maxDate" (ngModelChange)="valueChanged($event)"
              [disabled]="field().readOnly">
            </ngb-datepicker>
          </div>
        } @else {
          <div class="input-group">
            <label class="has-float-label" [class.always]="always()" for="f-{{field().id}}-{{id()}}">
              <input class="form-control" type="text" [class.is-invalid]="formField?.invalid" id="f-{{field().id}}-{{id()}}"
                name="f-{{field().id}}-{{id()}}" #formField="ngModel" [(ngModel)]="value"
                [placeholder]="field().placeholder||'&nbsp;'" [required]="field()?.v?.required"
                [minDate]="toNgbDateStruct(field()?.v?.minDate)" [maxDate]="toNgbDateStruct(field()?.v?.maxDate)"
                (click)="d.toggle()" (ngModelChange)="valueChanged($event)" ngbDatepicker #d="ngbDatepicker"
                [disabled]="field().readOnly">
                @if (!field().hideLabel) {
                  <span class="label-span">{{field().label}} @if (field()?.v?.required) {
                    <span>*</span>
                  }
                </span>
              }
            </label>
            <button type="button" class="btn btn-outline-secondary border-left-0 light" (click)="d.toggle()"
              [disabled]="field().readOnly" type="button">
              <fa-icon [icon]="['far','calendar-alt']"></fa-icon>
            </button>
          </div>
        }
      </div>
    }
    @if (['datetime','datetime-inline','time'].indexOf(field().subType)>-1) {
      @if (!field().hideLabel && field().subType=='time') {
        <label class="label-span me-1" for="f-{{field().id}}-{{id()}}" style="font-size:12px">{{field().label}} 
          @if (field()?.v?.required) {
            <span>*</span>
          }
          @if (field().hint) {
            <fa-icon class="ms-1" [icon]="['fas','info-circle']" ngbTooltip="{{field().hint}}"></fa-icon>
          }
        </label>
      }
      <div class="col-auto">
        <ngb-timepicker name="f-{{field().id}}-{{id()}}-time" [(ngModel)]="value" (ngModelChange)="valueChanged($event)"
          [meridian]="field().x?.meridian"
          [seconds]="field().x?.seconds"
        [disabled]="field().readOnly"></ngb-timepicker>
      </div>
    }
  </div>
  <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
</ng-template>

<ng-template #checkbox>
  <div class="mt-n2" [class.disabled]="field().readOnly">
    @if (!field().hideLabel) {
      <label class="label-span me-1" for="f-{{field().id}}-{{id()}}">{{field().label}} 
        @if (field()?.v?.required) {
          <span>*</span>
        }
        @if (field().hint) {
          <fa-icon class="ms-1" [icon]="['fas','info-circle']" ngbTooltip="{{field().hint}}"></fa-icon>
        }
      </label>
    }
    @if (formField.invalid) {
      <ng-template [ngTemplateOutlet]="errorIcon"></ng-template>
    }
    <div class="form-check">
      <input type="checkbox" class="form-check-input" [(ngModel)]="value" #formField="ngModel"
        id="f-{{field().id}}-{{id()}}" name="f-{{field().id}}-{{id()}}" [required]="field()?.v?.required"
        (ngModelChange)="checkValueChanged($event)">
        @if (field().placeholder) {
          <label class="form-check-label" for="f-{{field().id}}-{{id()}}">
            @if (field()?.v?.required && field().hideLabel) {
              <span>* </span>
            }
            <span [innerHtml]="compileTpl(field().placeholder,data())|safe:'html'">{{field().placeholder}}</span>
          </label>
        } @else {
          <label class="form-check-label" for="f-{{field().id}}-{{id()}}">
            @if (field()?.v?.required && field().hideLabel) {
              <span>* </span>
            }
            <span [innerHtml]="compileTpl(field().label,data())|safe:'html'">{{field().label}}</span>
          </label>
        }
    </div>
  </div>
  <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
</ng-template>

<ng-template #checkboxOption>
  <div class="mt-n2" [class.disabled]="field().readOnly">
    @if (!field().hideLabel) {
      <label class="label-span me-1" for="f-{{field().id}}-{{id()}}">{{field().label}} 
        @if (field()?.v?.required) {
          <span>*</span>
        }
      </label>
    }
    @if (!value && field()?.v?.required) {
      <ng-template [ngTemplateOutlet]="errorIcon"></ng-template>
    }

    @if (field()?.subType=='btn') {
      <div>
        <div role="group">
          @for (i of lookupList(); track $index) {
            <input type="checkbox" name="f-{{field().id}}-{{id()}}"
              (change)="toggleValue(i)" [required]="field()?.v?.required" [checked]="checkValue(i)" [value]="i" class="btn-check"
              id="f-{{field().id}}-{{id()}}-{{$index}}" autocomplete="off">
            <label class="btn btn-outline-secondary me-1 mb-1 light text-start" for="f-{{field().id}}-{{id()}}-{{$index}}"
              [class.active]="checkValue(i)">
              @if (field()?.placeholder) {
                <div [innerHtml]="compileTpl(field().placeholder,{'$':i})|safe:'html'">
                </div>
              }@else {
                <span [innerHtml]="i?.name">{{i?.name}}</span>
              }
            </label>
          }
        </div>
      </div>
    } @else {
      <div>
        @for (c of lookupList(); track $index; let isLast = $last) {
          <div class="form-check mt-1" [class.form-check-inline]="field().x?.inline" >
            <input type="checkbox" class="form-check-input" [value]="c" id="f-{{field().id}}-{{id()}}-{{c?.code}}"
              [checked]="checkValue(c)" name="f-{{field().id}}-{{id()}}" (change)="toggleValue(c);" />
            <label class="form-check-label" for="f-{{field().id}}-{{id()}}-{{c?.code}}">
              @if (field()?.placeholder) {
                <div [innerHtml]="compileTpl(field().placeholder,{'$':c})|safe:'html'">
                </div>
              }@else {
                <span [innerHtml]="c?.name">{{c?.name}}</span>
              }
            </label>
          </div>
        }
      </div>
    }
    @if (!hideAddAction() && field().x?.addEntryEnabled){
      <div class="mt-1">
        <button type="button" class="btn btn-xs btn-light" (click)="triggerAddAction('')">
          <fa-icon [icon]="['fas','plus']" [fixedWidth]="true"></fa-icon> Add option
        </button>
      </div>
    }
    <input type="hidden" id="f-{{field().id}}-{{id()}}-hid" name="f-{{field().id}}-{{id()}}-hid" [ngModel]="value"
      #formField="ngModel" [required]="value && field()?.v?.required">
    @if (formField && formField?.invalid) {
      <small class="val-text form-text text-danger">
        <fa-icon [icon]="['fas','exclamation-triangle']"></fa-icon>
        @if (formField.errors.required) {
          <span>{{field().label}} is required</span>
        }
      </small>
    }
  </div>
  <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
</ng-template>

<ng-template #modelPicker>
  <div [class.modelPicker]="value">
    <label class="has-float-label" [class.is-invalid]="formField?.invalid" [class.always]="always()">
      <!-- {{lookupList()|json}} -->
      <ng-select [items]="lookupList()" #formField="ngModel" id="f-{{field().id}}-{{id()}}" [bindLabel]="field()?.bindLabel"
        [virtualScroll]="true" [(ngModel)]="value" (focus)="selectFocused($event)" name="f-{{field().id}}-{{id()}}"
        [required]="field()?.v?.required" (ngModelChange)="valueChanged($event)"
        [groupBy]="this.field()?.x?.groupBy?selectGroupBy:null"
        [loading]="loading()"
        [multiple]="field().subType?.indexOf('multiple')>-1"
        [placeholder]="(field().label||'&nbsp;') + (field()?.v?.required?' *':' ')" [readonly]="field().readOnly"
        [searchFn]="lookupSearchFn">
        @if (field()?.placeholder) {
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <div [innerHtml]="compileTpl(field().placeholder,{'$':item})|safe:'html'">
            </div>
          </ng-template>
        }
      </ng-select>
    </label>
    @if (field()?.placeholder) {
      @if (field().subType?.indexOf('multiple')>-1) {
        @if (value?.length>0) {
          <div class="list-group">
            @for (sv of value; track $index) {
              <div class="list-group-item"
              [innerHtml]="compileTpl(field().placeholder,{'$':sv})|safe:'html'"></div>
            }
          </div>
        }
      } @else {
        @if (value) {
          <div class="card card-body p-3"
            [innerHtml]="compileTpl(field().placeholder,{'$':value})|safe:'html'">
          </div>
        }
      }
    }
    <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
  </div>
</ng-template>

<ng-template #select>
  <div [class.modelPicker]="value && field()?.placeholder">
    <label class="has-float-label" [class.is-invalid]="formField.invalid" [class.always]="always()">
      <ng-select [items]="lookupList()" [class.is-invalid]="formField?.invalid" #formField="ngModel"
        id="f-{{field().id}}-{{id()}}" bindLabel="name" [(ngModel)]="value" (focus)="selectFocused($event)"
        name="f-{{field().id}}-{{id()}}" [virtualScroll]="true" [required]="field()?.v?.required"        
        [groupBy]="this.field()?.x?.groupBy?selectGroupBy:null"
        [loading]="loading()"
        [multiple]="field().subType?.indexOf('multiple')>-1" (change)="valueChanged($event)" [readonly]="field().readOnly"
        [addTag]="field().x?.addEntryEnabled?triggerAddAction:null"
        (search)="valueSearched($event)" [placeholder]="(field().label||'&nbsp;') + (field()?.v?.required?' *':' ')"
        [searchFn]="lookupSearchFn"
        >
        @if (field()?.placeholder) {
          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
            <div [innerHtml]="compileTpl(field().placeholder,{'$':item})|safe:'html'">
            </div>
          </ng-template>
        }
        @if (field()?.x?.groupBy){
          <ng-template ng-label-tmp let-item="item">
            <span [innerHTML]="compileTpl(field()?.x?.groupBy,{'$':item})|safe:'html'"></span> 
            <fa-icon [icon]="['fas','angle-right']" [fixedWidth]="true"></fa-icon>
            {{item.name}}
          </ng-template>
        }
        @if(field().x?.addEntryEnabled){
          <ng-template ng-tag-tmp let-item="item" let-index="index" let-search="searchTerm">
            <div>
              <fa-icon [icon]="['fas','plus']" [fixedWidth]="true"></fa-icon> Add option: <strong>{{search}}</strong>
            </div>
          </ng-template>
        }
      </ng-select>
    </label>
    @if (field()?.placeholder) {
      @if (field().subType?.indexOf('multiple')>-1) {
        @if (value?.length>0) {
          <div class="list-group">
            @for (sv of value; track $index) {
              <div class="list-group-item"
              [innerHtml]="compileTpl(field().placeholder,{'$':sv})|safe:'html'"></div>
            }
          </div>
        }
      } @else {
        @if (value) {
          <div class="card card-body p-3"
            [innerHtml]="compileTpl(field().placeholder,{'$':value})|safe:'html'">
          </div>
        }
      }
    }
    <!-- <div class="card card-body p-3" *ngIf="value && field()?.placeholder"
    [innerHtml]="compileTpl(field().placeholder,{'a':value})|safe:'html'">
  </div> -->
    <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
  </div>
</ng-template>

<ng-template #radio>
  <div class="mt-n2">
    @if (!field().hideLabel) {
      <label class="label-span me-1" for="f-{{field().id}}-{{id()}}">
        <span [innerHtml]="field().label">{{field().label}}</span>
        @if (field()?.v?.required) {
          <span>*</span>
        }
      </label>
    }
    @if (field()?.v?.required && !value) {
      <ng-template [ngTemplateOutlet]="errorIcon"></ng-template>
    }
    @if (field()?.subType=='btn') {
      <div>
        <div class="btn-group1" role="group">
          @for (i of lookupList(); track $index) {
            <input type="radio" name="f-{{field().id}}-{{id()}}" #formField="ngModel" [(ngModel)]="value"
              (ngModelChange)="valueChanged($event)" [required]="field()?.v?.required" [value]="i" class="btn-check"
              id="f-{{field().id}}-{{id()}}-{{$index}}" autocomplete="off">
            <label class="btn btn-outline-secondary me-1 mb-1 light text-start" for="f-{{field().id}}-{{id()}}-{{$index}}"
              [class.active]="value?.code === i?.code">
              @if (field()?.placeholder) {
                <div [innerHtml]="compileTpl(field().placeholder,{'$':i})|safe:'html'"></div>
              }@else {
                <span [innerHtml]="i?.name">{{i?.name}}</span>
              }
            </label>
          }
        </div>
      </div>
    } @else {
      <div>
        @for (c of lookupList(); track $index; let isLast = $last) {
          <div class="form-check mt-1" [class.form-check-inline]="field().x?.inline" [class.disabled]="field().readOnly">
            <input type="radio" class="form-check-input" #fieldValue [value]="c" id="f-{{field().id}}-{{id()}}-{{c?.code}}"
              [checked]="value?.code === c?.code" name="f-{{field().id}}-{{id()}}" [required]="field()?.v?.required"
              (change)=" value = c;valueChanged($event);" />
            <label class="form-check-label d-block" for="f-{{field().id}}-{{id()}}-{{c?.code}}">
              @if (field()?.placeholder) {
                <div [innerHtml]="compileTpl(field().placeholder,{'$':c})|safe:'html'"></div>
              }@else {
                <span [innerHtml]="c?.name">{{c?.name}}</span>
              }
            </label>
          </div>
        }
      </div>
    }
    @if (!lookupList() || lookupList().length==0) {
      <div class="text-muted">
        Option not available
      </div>
    }
    @if (!hideAddAction() && field().x?.addEntryEnabled){
      <div class="mt-1">
        <button type="button" class="btn btn-xs btn-light" (click)="triggerAddAction('')">
          <fa-icon [icon]="['fas','plus']" [fixedWidth]="true"></fa-icon> Add option
        </button>
      </div>
    }
  </div>
</ng-template>

<ng-template #simpleOption>
  @if (field().subType=='btn') {
    <div class="mt-n2">
      @if (!field().hideLabel) {
        <label class="label-span me-1" for="f-{{field().id}}-{{id()}}">{{field().label}} 
          @if (field()?.v?.required) {
            <span>*</span>
          }
          @if (field().hint) {
            <fa-icon class="ms-1" [icon]="['fas','info-circle']" ngbTooltip="{{field().hint}}"></fa-icon>
          }
        </label>
      }
      @if (formField?.invalid) {
        <ng-template [ngTemplateOutlet]="errorIcon"></ng-template>
      }
      <div [class.disabled]="field().readOnly">
        <div class="btn-group1" role="group">
          @for (i of getAsList(field()?.options); track $index) {
            <input type="radio" name="f-{{field().id}}-{{id()}}" #formField="ngModel" [(ngModel)]="value"
              (ngModelChange)="valueChanged($event)" [required]="field()?.v?.required" [value]="i" class="btn-check"
              id="f-{{field().id}}-{{id()}}-{{$index}}" autocomplete="off">
            <label class="btn btn-outline-secondary me-1 mb-1 light" for="f-{{field().id}}-{{id()}}-{{$index}}">{{i}}</label>
          }
        </div>
        @if (!field()?.options) {
          <div class="text-muted">
            Option not available
          </div>
        }
      </div>
    </div>
  }
  @if (field().subType=='radio') {
    <div class="mt-n2">
      @if (!field().hideLabel) {
        <label class="label-span me-1" for="f-{{field().id}}-{{id()}}">{{field().label}}
          @if (field()?.v?.required) {
            <span>*</span>
          }
          @if (field().hint) {
            <fa-icon class="ms-1" [icon]="['fas','info-circle']" ngbTooltip="{{field().hint}}"></fa-icon>
          }
        </label>
      }
      @if (field()?.v?.required && !value) {
        <ng-template [ngTemplateOutlet]="errorIcon"></ng-template>
      }
      <!-- <input type="radio" [hidden]="true" class="form-check-input" #formField [value]="null" id="f-{{field().id}}-{{id()}}-init" name="f-{{field().id}}-{{id()}}"/> -->
      <div>
        @for (i of getAsList(field()?.options); track $index) {
          <div class="form-check mt-1" [class.disabled]="field().readOnly" [class.form-check-inline]="field().x?.inline" >
            <input type="radio" class="form-check-input" #formField [value]="i" id="f-{{field().id}}-{{id()}}-{{$index}}"
              [checked]="value === i" name="f-{{field().id}}-{{id()}}" [required]="field()?.v?.required"
              (change)=" value = i;valueChanged($event);" />
            <label class="form-check-label d-block" for="f-{{field().id}}-{{id()}}-{{$index}}">{{i}}</label>
          </div>
        }
      </div>
      @if (!field()?.options) {
        <div class="text-muted">
          Option not available
        </div>
      }
    </div>
  }
  @if (field().subType=='select') {
    <label class="has-float-label" [class.is-invalid]="formField.invalid" [class.always]="always()">
      <ng-select [items]="list" #formField="ngModel" id="f-{{field().id}}-{{id()}}" [(ngModel)]="value"
        [loading]="loading()"
        [groupBy]="this.field()?.x?.groupBy?selectGroupBy:null"
        [virtualScroll]="true" (change)="valueChanged($event)" (focus)="selectFocused($event)"
        name="f-{{field().id}}-{{id()}}" [readonly]="field().readOnly" [required]="field()?.v?.required"
        [placeholder]="(field().label||'&nbsp;') + (field()?.v?.required?' *':' ')">
      </ng-select>
    </label>
    @if (!field()?.options) {
      <div class="text-muted">
        Option not available
      </div>
    }
  }
  <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
</ng-template>

<ng-template #scaleTpl>
  <div class="mt-n2">
    @if (!field().hideLabel) {
      <label class="label-span me-1" for="f-{{field().id}}-{{id()}}">{{field().label}} 
        @if (field()?.v?.required) {
          <span>*</span>
        }
      </label>
    }
    @if (formField?.invalid) {
      <ng-template [ngTemplateOutlet]="errorIcon"></ng-template>
    }
    <div [class.disabled]="field().readOnly">
      <div class="btn-group-toggle mb-n1" role="group">
        @for (i of scales; track $index) {
          <input type="radio" name="f-{{field().id}}-{{id()}}" #formField="ngModel" [(ngModel)]="value"
            (ngModelChange)="valueChanged($event)" [required]="field()?.v?.required" [value]="i" class="btn-check"
            id="f-{{field().id}}-{{id()}}-{{$index}}" autocomplete="off">
          <label class="btn btn-round btn-outline-secondary light width-38 me-1 mb-1"
          for="f-{{field().id}}-{{id()}}-{{$index}}">{{i}}</label>
        }
      </div>
    </div>
    <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
  </div>
</ng-template>

<ng-template #imagePreview>
  @if (!field().hideLabel) {
    <label class="label-span" for="f-{{field().id}}-{{id()}}">{{field().label}} 
      @if (field()?.v?.required) {
      <span>*</span>
      }
    </label>
  }
  <div>
    <img [src]="value || 'assets/img/blank_product.png'" width="100%">
  </div>
</ng-template>

<ng-template #file>
  @if (['other','othermulti'].indexOf(field().subType)>-1) {
    <div class="custom-file" [class.disabled]="field().readOnly">
      <label class="has-float-label" [class.extracting]="extractLoading()" for="f-{{field().id}}-{{id()}}">
        @if (fileProgress()) {
          <div
            style="background:whitesmoke;position:absolute; width:60px; top:10px;right:10px;border-radius: 5px;overflow: hidden;">
            <div style="height:5px;background:green;" [style.width.%]="fileProgress()"></div>
          </div>
        }
        <input type="file" [hidden]="true" [class.is-invalid]="formField?.invalid" #native #formField="ngModel" #fileInput
          (click)="fileclick(fileInput)" (change)="fileValueChanged($event)" id="f-{{field().id}}-{{id()}}"
          [(ngModel)]="file[field().code]" [multiple]="field().subType == 'othermulti'" name="f-{{field().id}}-{{id()}}"
          [accept]="field().v.accept" [required]="!value && field()?.v?.required" />
        @if (!value) {
          <div class="form-control nobreak" [class.is-invalid]="formField?.invalid">
            <div class="pt-1">
              <fa-icon [icon]="['fas','upload']" [fixedWidth]="true"></fa-icon>
              {{field().placeholder||'Browse'}}
            </div>
          </div>
        }@else{
          @if (field().subType=='other') {
            <div class="form-control nobreak" style="background: white;padding-right:30px;">
              <div class="pt-1">
                {{value}}
              </div>
            </div>
          } @else {
            <div class="form-control nobreak" [ngStyle]=" value.length>1 && {'height':'auto'}"
              style="background: white;padding-right:30px;">
              <div class="pt-1">
                @for (vf of value; track $index) {
                  <div>{{vf}}</div>
                }
              </div>
            </div>
          }
        }
        @if (!field().hideLabel) {
          <span class="label-span">{{field().label}} @if (field()?.v?.required) {
            <span>*</span>
          }</span>
        }
        <div style="position:absolute;top:15px; right:1px;display: flex;background:white;">
          @if (value) {
            <div
              style="width:30px;cursor:pointer;padding:10px;color: #999;font-weight:bold;font-size:1.2em;line-height:15px;"
              (click)="clear(native)">×</div>
          }        
          @if (field().x?.extractor){
            <div
             
              style="padding:10px;color: #4c0bce;font-size:1.2em;line-height:15px;">
              <div [class.grow_blink_me]="extractLoading()">
                <fa-icon [icon]="['fas','bolt']"></fa-icon>
              </div>
            
            </div>            
          }     
        </div>
        <!-- @if (value) {
          <div
            style="background:white;position:absolute;top:15px;right:5px;width:30px;cursor:pointer;padding:10px;color: #999;font-weight:bold;font-size:1.2em;line-height:15px;"
            (click)="clear(native)">×</div>
        }        

        <div
          style="position:absolute;top:15px;right:35px;padding:10px;color: #999;font-size:1.2em;line-height:15px;">
          <fa-icon [icon]="['fas','bolt']"></fa-icon>
        </div> -->

      </label>
      <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
    </div>
  }
  @if (['image','imagemulti'].indexOf(field().subType)>-1) {
    <div [class.disabled]="field().readOnly">
      @if (!field().hideLabel) {
        <label class="label-span me-1" for="f-{{field().id}}-{{id()}}">{{field().label}} 
          @if (field()?.v?.required) {
            <span>*</span>
          }
        </label>
      }
      @if (formField?.invalid) {
        <ng-template [ngTemplateOutlet]="errorIcon"></ng-template>
      }
      <input type="file" style="display: none" #native #formField="ngModel" (change)="fileValueChanged($event)"
        id="f-{{field().id}}-{{id()}}" [(ngModel)]="file[field().code]" name="f-{{field().id}}-{{id()}}"
        [multiple]="field().subType == 'imagemulti'" [required]="(!value  && field()?.v?.required) || (field()?.v?.imgcls && !imgclsVal())" accept="image/*" />
      <label class="mb-0 d-block position-relative" for="f-{{field().id}}-{{id()}}">
        @if (fileProgress()) {
          <div
            style="background:whitesmoke;position:absolute; width:60px; top:10px;right:10px;border-radius:5px;overflow:hidden">
            <div style="height:5px;background:green;" [style.width.%]="fileProgress()"></div>
          </div>
        }
        @if (!value) {
          <div style="background: #aaa;height:250px;max-width:100%;border-radius:var(--bs-border-radius)"
            class="d-flex align-items-center text-center">
            <div style="flex: 1;color: white; font-size: 0.8em">
              Click to upload image
              @if (field().subType == 'imagemulti') {
                <div>To select multiple files, hold down the CTRL or SHIFT key while
                selecting</div>
              }
            </div>
          </div>
        }@else{
          @if (field().subType=='image') {
            <div style="max-width:100%;border-radius:var(--bs-border-radius);overflow:hidden" class="align-items-center text-center d-relative">
              <img loading="lazy" [src]="baseApi + '/entry/file/inline/'+value | secure | async" style="max-width: 100%;"
                alt="Image preview...">
              <div style="bottom:30px;left:20px; position: absolute;padding:3px; font-size: 0.8em;">
                <div style="border:solid 1px #ccc;background: #fff;padding:3px;float:left">
                Click to change images</div>
                <!-- @if (value) { -->
                <div
                  style="border:solid 1px #ccc;background: #fff;padding:3px;float:left;margin-left:3px;cursor: pointer;"
                  (click)="clear(native)">× Clear</div>
                <!-- } -->
              </div>
            </div>
          } @else {
            <div class="img-grid-cont">
              @for (vf of value; track $index) {
                <div class="img-grid-item">
                  <img loading="lazy" [src]="baseApi+'/entry/file/inline/'+vf|secure|async" onError="this.src='./assets/img/placeholder-128.png'">
                </div>
              }
              <div style="bottom:20px;left:20px; position: absolute;padding:3px; font-size: 0.8em;">
                <div style="border:solid 1px #ccc;background: #fff;padding:3px;float:left">
                Click to change images</div>
                <!-- @if (value) { -->
                <div
                  style="border:solid 1px #ccc;background: #fff;padding:3px;float:left;margin-left:3px;cursor: pointer;"
                  (click)="clear(native)">Clear</div>
                <!-- } -->
              </div>
            </div>
          }
        }
      </label>
      <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
    </div>
  }
  <!-- @if (value && field()?.v?.imgcls && !imgclsVal()) {
    <input type="hidden" id="f-{{field().id}}-{{id()}}-hid-imgcls" name="f-{{field().id}}-{{id()}}-hid-imgcls"
      required>
  } -->
</ng-template>

<ng-template #eval>
  @if (field().subType=='text') {
    <div>
      <div class="input-group">
        @if (field().placeholder) {
          <span class="input-group-text">{{field().placeholder}}</span>
        }
        <label class="has-float-label" [class.always]="always()" for="f-{{field().id}}-{{id()}}">
          <input class="form-control" id="f-{{field().id}}-{{id()}}" name="f-{{field().id}}-{{id()}}" type="text"
            placeholder="Not Available" [value]="value||''" [readonly]="field().readOnly"
            (ngModelChange)="valueChanged($event)" #formField="ngModel" [(ngModel)]="value">
            @if (!field().hideLabel) {
              <span class="label-span">{{field().label}}
              </span>
            }
        </label>
      </div>
    </div>
  }@else if (field().subType=='qr') {
    <div>
      @if (!field().hideLabel) {
        <label class="label-span" for="f-{{field().id}}-{{id()}}">{{field().label}} 
          @if (field()?.v?.required) {
            <span>*</span>
          }
        </label>
      }
      <!-- @if (value){
        <div [innerHtml]="generateQR(value)|safe:'html'"></div>
      } -->
      <img [src]="value?baseApi+'/form/qr?code='+encodeURIComponent(value):'assets/img/blank-qr.svg'" width="100%">
      <input id="f-{{field().id}}-{{id()}}" name="f-{{field().id}}-{{id()}}" type="hidden" [value]="value||''">
    </div>
  }
</ng-template>

<ng-template #static>
  @if (['html','htmlSave'].indexOf(field().subType)>-1) {
    @if (!field().hideLabel) {
      <label class="label-span" for="f-{{field().id}}-{{id()}}">{{field().label}} 
        @if (field()?.v?.required) {
          <span>*</span>
        }
      </label>
    }
    <!-- <div class="mb-1" [innerHtml]="preCompile()|safe:'html'"></div> [afterInit]="postRender('f-'+field().id+'-'+id()+'-value')" -->
    <div class="mb-1" id="f-{{field().id}}-{{id()}}-value" [innerHtml]="compileTpl(field().placeholder,data(),field().subType=='htmlSave')|safe:'html'"></div>
  }
  @if (field().subType=='clearfix') {
    <div class="clearfix clfx"></div>
  }
</ng-template>

<ng-template #map>
  <!-- @if (['html','htmlSave'].indexOf(field().subType)>-1) { -->
    @if (!field().hideLabel) {
      <label class="label-span" for="f-{{field().id}}-{{id()}}">{{field().label}} 
        @if (field()?.v?.required) {
          <span>*</span>
        }
      </label>
    }
    @defer(prefetch on idle){
      <app-ng-leaflet [useCurrentPos]="field().x?.useCurrent"  [baseMapServerUri]="field().x?.customMapServer"
       [multiple]="field().subType=='multiple'" [readOnly]="field()?.readOnly"  [dropPinOn]="field().x?.dropPinOn" [(value)]="value"
       (valueChange)="valueChanged($event)"></app-ng-leaflet>
    }@loading {
      <div class="text-center m-5">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    }
    <!-- <div class="mb-1" [innerHtml]="preCompile()|safe:'html'"></div> -->
    
  <!-- }
  @if (field().subType=='clearfix') {
    <div class="clearfix"></div>
  } -->
</ng-template>

<ng-template #speech>
    @defer(prefetch on idle){
      <app-speech-to-text [field]="field()" [extractLoading]="extractLoading()"  [class.extracting]="extractLoading()" [(value)]="value" (valueChange)="valueChanged($event)" [defaultLang]="field().x?.defLang"></app-speech-to-text>
    }@loading {
      <div class="text-center m-5">
        <div class="spinner-grow text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    }
</ng-template>

<ng-template #qr>
  <div class="custom-file">
    <label class="has-float-label" for="f-{{field().id}}-{{id()}}">
      <input type="file" [hidden]="true" #formField="ngModel" (change)="qrValueChanged($event)"
        id="f-{{field().id}}-{{id()}}" [(ngModel)]="file[field().code]" name="f-{{field().id}}-{{id()}}"
        [required]="!value && field()?.v?.required" accept="image/*" capture />
      @if (!value) {
        <div class="form-control" style="background: white">
          <fa-icon [icon]="['fas','qrcode']"></fa-icon>
          {{field().placeholder||'Scan or Upload QR Code'}}
        </div>
      }@else{
        <div class="form-control" style="background: white">{{value}}</div>
      }
      @if (!field().hideLabel) {
        <span class="label-span">{{field().label}} @if (field()?.v?.required) {
          <span>*</span>
        }</span>
      }
    </label>
    <ng-container *ngTemplateOutlet="valError;context:{formField:formField,field:field}"></ng-container>
  </div>
</ng-template>

<ng-template #btn>
  <button type="button" class="btn btn-secondary btn-round" [style]="field().placeholder" [disabled]="field().readOnly"
  (click)="valueChanged($event)">{{field().label}}</button>
</ng-template>