:root{
    --bs-border-radius: 8px;
    --ae-text-area-border-radius: 8px;
    // --ae-text-area-border: solid #86b7fe 1px;
    // --bs-focus-ring-x: 10px; --bs-focus-ring-y: 10px; --bs-focus-ring-blur: 4px
}
/* Float label */
.has-float-label {
    display: block;
    position: relative;
    margin-bottom: 0;
}

.has-float-label label,
.has-float-label > span.label-span, 
.has-float-label .ng-select .ng-select-container.ng-has-value .ng-value-container .ng-placeholder,
.has-float-label .ng-select.ng-select-filtered .ng-select-container .ng-value-container .ng-placeholder {
    position: absolute;
    cursor: text;
    transition: all 0.1s ease-in-out;
    top: 0.7em;
    left: 0.8rem;
    z-index: 3;
    font-size: 12px;
}

.has-float-label .ng-select .ng-select-container.ng-has-value .ng-value-container .ng-placeholder,
.has-float-label .ng-select.ng-select-filtered .ng-select-container .ng-value-container .ng-placeholder,
.has-float-label angular-editor:focus-within .angular-editor-placeholder {
    display: block;
    top: 0.6em;
    color: #000;
    line-height: 1;
    opacity: 0.7 !important;
}

.has-float-label .form-control::placeholder {
    opacity: 0.6;
    transition: all 0.2s;
}

.has-float-label:not(.always) .form-control:placeholder-shown:not(:focus)::placeholder,
.has-float-label .angular-editor-placeholder {
    opacity: 0 !important;
}

.has-float-label:not(.always) .form-control:placeholder-shown:not(:focus) + .label-span, 
.has-float-label:not(.always):not(.has-value) angular-editor:not(:focus-within) + .label-span,
.has-float-label .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    position: absolute;
    top: 1.2em;
    left: 0.75em;
    font-size: 1rem;
    color: #495057;
    opacity: 0.7;
    font-weight: normal;
    text-transform: none;
    pointer-events: none;
}

.has-float-label .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    top: 1em;
}

/* Input group */
.input-group .has-float-label {
    flex-grow: 1;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1%;
}

.input-group .has-float-label .label-span {
    white-space: nowrap;
}

.input-group .has-float-label:not(:last-child),
.input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}

.input-group .has-float-label:not(:first-child),
.input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.has-float-label .form-control:not(textarea) {
    height: calc(3.5rem + 2px);
}

.has-float-label .form-control:not(:focus) {
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(0, 0, 0, 0.15);
}


// .has-float-label .form-control,
// .has-float-label .btn,
// .has-float-label .ng-select-container, 
// .has-float-label .img-holder, 
// .has-float-label .map-target-div,
// .has-float-label .angular-editor-textarea,
// .has-float-label .form-check-input{
//     box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.07);
// }

.has-float-label .form-control {
    padding: 1.2rem 0.75rem 0.175rem;
}

.has-float-label textarea.form-control {
    padding: 1.4rem 0.75rem 0.175rem;
    min-height: 58px;
}

.has-float-label .ng-select .ng-select-container {
    min-height: calc(3.5rem + 2px);
    border-radius: var(--bs-border-radius);
}

.has-float-label.is-invalid .ng-select-container,
.has-float-label angular-editor.is-invalid .angular-editor {
    border-color: rgba(0, 0, 0, 0.15);
    background-clip: padding-box;
    background-color: rgba(255, 255, 255, 0.3);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem + 1em) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.has-float-label angular-editor.is-invalid .angular-editor {
    background-position: right calc(0.375em + 0.1875rem) top 1.2em;
}

.has-float-label .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input,
.has-float-label .ng-select .ng-select-container .ng-value-container {
    margin-top: 1.1rem;
    padding-left: 0.75rem;
}

/* Non-floating label */
.label-span {
    opacity: 0.7;
    z-index: 3;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.val-text {
    margin-top: 3px;
}

.val-text fa-icon {
    margin-right: 0.5em;
}

.light.btn-outline-secondary {
    border-color: rgba(0, 0, 0, 0.15);
}

.ng-dropdown-panel {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.custom-file {
    min-height: calc(3.5rem + 2px);
}

.form-control-color {
    padding: 1.5rem 2rem 0.75rem 0.75rem !important;
    width: 100% !important;
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container,
.form-control:focus {
    border-color: #007eff;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
    outline: solid 1.5px white;
}

.ng-select.ng-select-focused.is-invalid:not(.ng-select-opened) > .ng-select-container,
.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
    outline: solid 1.5px white;
}

.width-38 {
    width: 38px;
}

/* Image grid */
.img-grid-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.img-grid-item {
    height: 20vh;
    flex-grow: 1;
}

.img-grid-item img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
    .img-grid-item {
        height: 30vh;
    }
}

@media (max-height: 480px) {
    .img-grid-item {
        height: 80vh;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .img-grid-cont {
        flex-direction: row;
    }
    .img-grid-item {
        height: auto;
        width: 100%;
    }
    .img-grid-item img {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
    }
}

.form-check-inline {
    margin-right: 1.5rem;
}

.extracting .form-control {
    border-color: #007eff;
    box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.5);
    animation: lineblink 1s linear infinite;
}

@keyframes lineblink {
    50% {
        box-shadow: 0 0 0 0.25rem rgba(104, 114, 129, 0.5);
    }
}

/* Model Picker */
.modelPicker .ng-select .ng-select-container.ng-select-container.ng-has-value{
    border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0 !important; 
}
.modelPicker>.card,.modelPicker>.list-group{
    border-radius: 0px 0px var(--bs-border-radius) var(--bs-border-radius);
    border-top: none;
    background: #f6f6f6;
}
.modelPicker>.list-group>.list-group-item{background-color:unset;}
.modelPicker>.list-group>.list-group-item:first-child{border-top:none;}

.qrCode svg{
    width:100%;
}


.has-float-label {
    angular-editor .angular-editor {
      min-height: 58px !important;
      width: 100%;
      border-radius: var(--bs-border-radius);
      padding: 1.4rem 0.75rem 0.175rem !important;
      margin-top: 0px !important;
      border: 1px solid #ddd;
      // overflow:hidden;
    }
  
    angular-editor .angular-editor-toolbar {
      margin-top: 8px;
      padding: 5px 0px 0px;
      border-top: solid 1px #ddd !important;
    }
  
    angular-editor .angular-editor-textarea {
      border:none !important;
      outline: none !important;
      padding:0 !important;
      margin-top:2px; margin-bottom:5px;
    }
    // angular-editor .angular-editor-textarea:focus-visible {
    //   outline:none !important;
    // }
  
    // angular-editor.hide-toolbar angular-editor-toolbar {
    //   display: none !important;
    // }
  
    angular-editor .angular-editor-placeholder {
      // padding: 1.4rem 0.75rem 0.175rem !important;
      padding: 0 !important;
    }
  
    angular-editor .angular-editor:focus-within {
      border-color: #007eff !important;
      box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
      outline: solid 1.5px white;
    }  
    
    angular-editor angular-editor-toolbar {
      display: none !important;
    }  
    angular-editor:focus-within angular-editor-toolbar {
      display: block !important;
    }
  
    angular-editor.is-invalid .angular-editor:focus-within {
      border-color: #dc3545 !important;
      box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
      outline: solid 1.5px white;
    }
  
  
  }


  