<div class="p-3">
  <div class="overflow-hidden" class="chatviewport-msg">
    @if(screen().description){
      <div class="pb-2 d-flex">
        {{screen().description}}
      </div>
    }
    <div id="screen-{{screen().id}}-chatviewport" [style.--appbg]="app().theme||'#4c0bce'">
      @if(screen()?.data?.logo){
        <div class="text-center p-2 pb-3">
            <img loading="lazy" [src]="screen().data?.logo" onError="this.src='assets/img/avatar-big.png'" style="width:80px;"
            class="rounded chat-avatar-response">
        </div> 
      }

      @if(screen()?.data?.notice){
        <div class="chat-prompt-notice small text-muted text-center pb-3 mx-auto" style="max-width:450px">
          <span [innerHTML]="imagify(linkify(screen().data?.notice))"></span>
        </div>                  
      }

      <!-- NEW SIMPLE DESIGN -->                    
      <div class="d-flex flex-column">
        <!-- Greetings -->
        @if(screen().data?.greeting){
          <div class="mb-4 chatbot-bubble chatbot-bubble-greeting" 
            style=" margin-right: 0;">
            
            <div class="p-3 px-3 chatbot-greeting-text"
              [innerHtml]="linkify(compileTpl(screen().data?.greeting, compileTplData()))"></div>
          
            @if (screen().data?.suggestion?.length>0){
              <div class="chatbot-suggestion p-2 px-3 d-flex flex-column">
                <div class="chatbot-suggestion-text small mb-2">
                  {{app().x?.lang=='ms'?'Berikut beberapa idea untuk bermula':'Here\'s some idea to get started'}}
                </div>
                @for (suggest of screen().data?.suggestion; track $index) {
                  <div class="chatbot-suggestion-item d-inline-block px-2 py-1 border rounded rounded-4 small text-primary border-primary bg-white me-auto my-1 pointer"
                    (click)="chatPrompt(screen().cogna, suggest.text)">
                    @if(suggest.icon){
                      <fa-icon [icon]="suggest.icon|iconSplit:'far:question-circle'" class="float-start" [fixedWidth]="true"></fa-icon>
                    }
                    <div class="ms-4">{{suggest.text}}</div>
                  </div>
                }
              </div>
            }                      
          </div>
        }

        @for (p of chatResponseList(); track $index) {
          <div class="mb-4 chatbot-bubble chatbot-bubble-{{p.type}}" >
            @if(p.text){
              <div class="p-3 px-3" [innerHtml]="targetBlank(p.text)|safe:'html'"></div>
            }
            @if (p.type=='response'){
              <div class="chatbot-bubble-meta p-2 px-3 d-flex bg-light">
                <button type="button" class="btn btn-xs text-muted" title="Copy chat message" (click)="copyChatText(p.text)" ><fa-icon [icon]="['fas', 'copy']" [fixedWidth]="true"></fa-icon></button>
                <button type="button" class="btn btn-xs text-muted" title="Report chat message" (click)="reportChat(p.text)" ><fa-icon [icon]="['fas', 'flag']" [fixedWidth]="true"></fa-icon></button>
                <div class="ms-auto small p-1 opacity-50 text-end fst-italic" style="line-height:100%">
                  {{p.timestamp|date:'medium'}}
                </div>
              </div>
            }            
          </div>
          @if (p.files?.length>0){
            <div class="chatbot-bubble-prompt-files mb-4 list-group">
              @for(f of p.files; track $index){
                @if (f.isImage){
                  <div class="list-group-item p-2">
                    <img [src]="baseApi+'/cogna/'+cogna.id+'/file/'+f.path" style="max-width:200px"> 
                  </div>
                }@else {
                  <div class="list-group-item p-2"> {{f.path}} </div>
                }
              }
            </div>
          }
        }

        @if (chatPromptLoading()){
          <div class="text-center">
            <div class="spinner-grow" style="background: var(--appbg);" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        }

        @if (streamTyping()){
          <div class="mb-4 chatbot-bubble chatbot-bubble-response" >
            <div class="p-3 px-3" [innerHtml]="streamResult()|safe:'html'"></div>
          </div>
        }
      </div>

      @if(chatResponseList().length>0 && !chatPromptLoading() && !streamTyping()){
        <div class="text-center">
          <button type="button" id="clear-chat-btn" class="btn btn-sm px-1 rounded-pill btn-outline-danger ms-auto print-hide"
                title="Clear chat memory" (click)="clearCognaMemory(screen().cogna)"
                [class.disabled]="offline()">
            <fa-icon [icon]="['fas','trash']" [fixedWidth]="true"></fa-icon><span class="text"> {{lang()=='ms'?'Padam Perbualan':'Clear Chat'}}</span>
          </button>
        </div>
      }
    </div>    
  </div>
</div>
<div id="chat-prompt-sticky" class="sticky-bottom p-3">
  <div id="chat-prompt-text-outer" class="bg-white shadow" style="border-radius:5px;">
    <div class="d-flex flex-row p-2"> 
      @if(cogna.mmSupport){ 
        <label
          class="rounded-pill me-2 cursor-pointer d-flex align-items-center justify-content-center" 
          style="width:48px; cursor: pointer;">
          <input type="file" [hidden]="true" (change)="onUpload($event)" name="file"  />
          <fa-icon [icon]="['fas','upload']"></fa-icon>
        </label>
      }
      <input type="text" id="chat-prompt-text" class="border-0 w-100 rounded-pill p-1"  autocomplete="off" 
        (keyup.enter)="chatPrompt(screen().cogna, chatPromptText())"  autocapitalize="none" [(ngModel)]="chatPromptText"
        maxlength="2000"
        [placeholder]="isListening()?lang()=='ms'?'Saya mendengar...':'I\'m listening...':(lang()=='ms'?'Tanya saya sesuatu...':'Ask me something...')"
        placeholder="Ask me something...">  
        @if (screen().data.speechInput){
          @if (isListening()){
            <button type="button" class="btn bg-transparent border-0 blink_me" style="height:38px; min-width:38px"
              (click)="stopListen()">
              <fa-icon [icon]="['fas','square']"></fa-icon>
            </button>  
          }@else {
            <button type="button" class="btn bg-transparent border-0" style="height:38px; min-width:38px"
              (click)="startListen()">
              <fa-icon [icon]="['fas','microphone']"></fa-icon>
            </button>          
          }
        }

      <button type="button" class="btn bg-transparent border-0" style="height:38px; min-width:38px" [class.disabled]="!chatPromptText()?.trim()" [disabled]="!(chatPromptText()?.trim() || fileList().length>0)"
        (click)="chatPrompt(screen().cogna, chatPromptText())">
        <fa-icon [icon]="['fas','paper-plane']"></fa-icon>
      </button>
    </div>
    @if(fileList().length>0){
      <div class="small list-group list-group-flush mb-3" style="border-top:solid 1px #ccc; border-bottom: solid 1px #ccc">
        @for(f of fileList(); track $index){
          @if (f.isImage){
            <div class="list-group-item p-2"><button type="button" class="btn btn-xs btn-light float-end" (click)="removeFile($index)">&times;</button>
              <img [src]="baseApi+'/cogna/'+cogna.id+'/file/'+f.path" style="max-width:200px"> 
            </div>
          }@else {
            <div class="list-group-item p-2"><button type="button" class="btn btn-xs btn-light float-end" (click)="removeFile($index)">&times;</button> {{f.path}} </div>
          }
        }
      </div>
    }
    <div class="text-end text-muted px-3 py-1 small">
      {{chatPromptText()?.length||0}}/2000
    </div>
  </div>
</div>