.chatbot-greeting-text {
  color: var(--bs-primary, rgba(12, 97, 223));
}

#chat-prompt-text:focus-visible {
  outline: none;
}

#chat-prompt-text-outer:focus-within {
  box-shadow: var(--bs-box-shadow) !important;
  transition: all 0.5s ease-in-out;
}

#chat-prompt-sticky {
  z-index: 995;
}

.chatviewport-msg {
  min-height: calc(100vh - 186px);
  min-height: calc(100dvh - 186px);
  font-size: 0.95em;
}

.chatbot-bubble {
  border-radius: 0.8em;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.chatbot-bubble-greeting {
  margin-right: 30px;
  background: var(--bs-tertiary-bg);
  color: var(--bs-body-color);
  box-shadow: 0 1px 3px rgba(13, 110, 253, 0.5), 0 1px 2px rgba(13, 110, 253, 0.25);
}

.chatbot-bubble-prompt {
  margin-left: auto;
  max-width: 80%;
  background: var(--appbg, #4c0bce);
  color: white;
  border-radius: 0.8em 0 0.8em 0.8em;
}

.chatbot-bubble-prompt-files {
  margin-left: auto;
  max-width: 80%;
  border-radius: 0.8em 0 0.8em 0.8em;
}

.chatbot-suggestion {
  background-color: var(--bs-secondary-bg);
  border-top: solid 1px var(--bs-border-color);
  
  .chatbot-suggestion-text {
    color: var(--bs-secondary-color);
  }
}

.chatbot-bubble-system {
  background: var(--bs-tertiary-bg);
  color: var(--bs-body-color);
  font-size: 11px;
  text-align: center;
  box-shadow: none;
}

.chatbot-bubble-meta {
  border-top: solid 1px var(--bs-border-color);
}

.chatbot-bubble-response {
  margin-right: 30px;
  background: var(--bs-tertiary-bg);
  color: var(--bs-body-color);
}

.full-viewport-page {
  height: 100%;
}

#clear-chat-btn {
  text-align: center;
  max-width: 2.2em;
  min-width: 2.2em;
  transition: all 300ms ease-in-out;
  text-wrap: nowrap;
}

#clear-chat-btn .text {
  display: none;
}

#clear-chat-btn:hover,
#clear-chat-btn:active {
  max-width: 200px;
}

#clear-chat-btn:hover .text,
#clear-chat-btn:active .text {
  display: inline;
}

.disabled {
  opacity: 40%;
}